<!-- eslint-disable @angular-eslint/template/mouse-events-have-key-events -->
<div
    [formGroup]="set"
    class="grid grid-cols-5 py-2 rounded-md justify-items-center gap-y-3"
    [ngClass]="{
        'bg-neutral-900': lighterBg,
        'bg-opacity-25': lighterBg
    }"
>
    <div>{{ setNumber }}</div>
    <button
        type="button"
        class="-translate-x-0.5"
        (click)="setTypeModalVisibility = true"
        [class]="setTypes[setTypeIndex].textColor"
    >
        {{ setTypes[setTypeIndex].name[0] | titlecase }}
    </button>
    <div>
        <input
            type="text"
            placeholder="-"
            mask="000"
            [maxlength]="4"
            formControlName="weight"
            class="text-center bg-transparent outline-none placeholder-neutral-800 w-7.5"
        />
    </div>
    <div>
        <input
            type="text"
            placeholder="-"
            mask="00"
            [maxlength]="2"
            formControlName="reps"
            class="w-5 text-center bg-transparent outline-none placeholder-neutral-800"
        />
    </div>

    <app-button-for-rpe-modal
        [rpe]="rpe"
        class="place-self-center"
    ></app-button-for-rpe-modal>

    <!-- prettier-ignore -->
    @if (setTypeName === 'drop') {
    @for (dropset of dropsets.controls; track $index) {
    <app-drop-set
        [dropset]="dropset"
        [dropsetNumber]="$index + 1"
        class="w-full col-span-5"
    ></app-drop-set>
    }

    <button
        type="button"
        (click)="addDropSet()"
        class="col-span-5 text-base font-semibold transition-all text-neutral-700 hover:text-emerald-500 active:scale-95 active:opacity-50"
    >
        Add Dropset
    </button>
    }

    <!-- prettier-ignore -->
    @if (setTypeName === 'cluster') {
    @for (clusterset of clustersets.controls; track $index) {
    <app-cluster-set
        [clusterset]="clusterset"
        class="w-full col-span-5"
    ></app-cluster-set>
    }

    <button
        type="button"
        (click)="addClusterSet()"
        class="col-span-5 text-base font-semibold transition-all text-neutral-700 hover:text-emerald-500 active:scale-95 active:opacity-50"
    >
        Add Clusterset
    </button>
    }

    <!-- prettier-ignore -->
    @if (setTypeName === 'tempo') {
    <app-tempo-set
        (tempoChangeEvent)="updateTempo($event)"
        class="w-full col-span-5"
    ></app-tempo-set>
    }
</div>

@if (setTypeModalVisibility) {
<!-- eslint-disable-next-line    -->
<div
    @openClose2
    (click)="setTypeModalVisibility = false"
    class="fixed top-0 left-0 z-40 w-screen h-screen bg-black bg-opacity-80"
></div>

<div
    @openClose
    class="fixed left-0 z-50 flex flex-col w-full h-full gap-2 p-4 overflow-y-scroll transition-all duration-300 bg-neutral-950 rounded-t-md pb-96"
    [ngClass]="{
        'top-1/4': setTypeModalVisibility,
        'top-full': !setTypeModalVisibility
    }"
>
    <div class="self-center font-semibold">Choose set type:</div>
    <div class="flex flex-col gap-2">
        @for (setType of setTypes; track $index) {
        <button
            type="button"
            (click)="onSetTypeChange($index)"
            class="flex items-center justify-between transition-all active:opacity-50 active:scale-95 group"
        >
            <div class="flex items-center gap-1">
                <div
                    class="flex items-center justify-center w-10 h-10 overflow-hidden text-xl font-semibold border-2 border-solid rounded-full min-w-max"
                    [class]="[setType.borderColor, setType.textColor]"
                >
                    {{ setType.name[0] | titlecase }}
                </div>
                <div
                    class="p-2 transition-colors group-hover:text-emerald-500"
                    [ngClass]="{
                        'text-emerald-500': setType.isSelected === true,
                        'font-semibold': setType.isSelected === true
                    }"
                >
                    {{ setType.name | titlecase }}
                </div>
            </div>

            @if (setType.isSelected === true) {
            <div>
                <svg
                    class="w-6 h-6 stroke-emerald-500"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M5 13L9 17L19 7"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
            </div>
            }
        </button>
        }
    </div>
</div>

<div
    @openClose3
    class="fixed left-0 z-50 w-full p-4 shadow-md pb-7 rounded-t-md bg-neutral-950"
    [ngClass]="{
        'bottom-0': setTypeModalVisibility,
        '-bottom-full': !setTypeModalVisibility,
    }"
>
    <button
        type="button"
        (click)="setTypeModalVisibility = false"
        class="py-1 font-semibold rounded-md w-full bg-emerald-500 transition-all active:scale-95 active:opacity-50 hover:shadow-[0_0_20px_2px_#10b981]"
    >
        Close window
    </button>
</div>
}
