<div class="flex flex-col gap-3">
    <div class="relative self-center">
        <div class="text-xl font-semibold">
            {{ firstDayOfActiveMonth().monthLong | titlecase }}
            {{ firstDayOfActiveMonth().year }}
        </div>

        <button
            type="button"
            (click)="goToPreviousMonth()"
            class="absolute top-[1px] -left-7 group"
        >
            <svg
                class="transition-colors w-7 h-7 stroke-black dark:stroke-white group-hover:stroke-emerald-500"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M15 6L9 12L15 18"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
        </button>

        <button
            type="button"
            (click)="goToNextMonth()"
            class="absolute top-[1px] -right-7 group"
        >
            <svg
                class="transition-colors w-7 h-7 stroke-black dark:stroke-white group-hover:stroke-emerald-500"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M9 6L15 12L9 18"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
        </button>
    </div>

    <div class="grid grid-cols-7 gap-1">
        @for (dayOfMonth of daysOfMonth(); track $index) {
        <button
            type="button"
            (click)="changeActiveDay(dayOfMonth)"
            [ngClass]="{
                'border-emerald-500':
                    activeDay()?.toISODate() === dayOfMonth.toISODate(),
                'text-emerald-500':
                    activeDay()?.toISODate() === dayOfMonth.toISODate(),
                'border-transparent':
                    activeDay()?.toISODate() !== dayOfMonth.toISODate(),
                'text-neutral-700':
                    activeDay()?.toISODate() !== dayOfMonth.toISODate(),
                'opacity-25':
                    dayOfMonth.month !== firstDayOfActiveMonth().month,
            }"
            class="flex items-center justify-center w-10 h-10 font-semibold text-center transition-colors border-2 border-solid rounded-md cursor-pointer bg-neutral-900"
        >
            <div>{{ dayOfMonth.day }}</div>
        </button>
        }
    </div>
</div>
