<div class="flex flex-col items-center gap-4 p-4">
    <button
        type="button"
        (click)="dataTypeModalVisibility = true"
        class="w-full p-2 font-semibold transition-all border-2 border-solid rounded-md cursor-pointer group max-w-min text-nowrap active:opacity-50 border-neutral-900 hover:text-emerald-500 min-w-72"
    >
        {{ activeDataType }}
    </button>

    <div class="flex items-center justify-between mt-4">
        @for (period of periods; track $index) {
        <button
            type="button"
            (click)="activePeriod = period"
            class="px-2 py-0.5 font-semibold transition-colors rounded-md hover:bg-opacity-50 hover:bg-neutral-900"
            [ngClass]="{
            'text-emerald-500': period === activePeriod,
            'text-neutral-800': period !== activePeriod,
        }"
        >
            {{ period }}
        </button>

        @if ($index !== 5) {
        <div class="w-0.5 h-6 bg-neutral-800 rounded-full mx-1"></div>
        } }
    </div>

    <!-- prettier-ignore -->
    @if (
        activeDataType === 'Muscle groups distribution' ||
        activeDataType === 'Training intensity' ||
        activeDataType === 'Rep ranges types'
    ) {
    <app-radar-chart
        [data]="chartData"
        [labels]="chartLabels"
    ></app-radar-chart>
    }

    <!-- prettier-ignore -->
    @if (
        activeDataType === 'Workouts duration' ||
        activeDataType === 'Workouts volume' ||
        activeDataType === 'Workouts reps'
    ) {
    <app-line-chart
        class="w-full mt-4"
        [data]="chartData"
        [labels]="chartLabels"
        [maxLabelsLimit]="5"
        [hoveredValueSuffix]="''"
    ></app-line-chart>
    }

    <div class="h-1 rounded-full w-80 bg-neutral-900"></div>

    <app-numeric-statistics></app-numeric-statistics>
</div>

@if (dataTypeModalVisibility) {
<!-- eslint-disable-next-line    -->
<div
    @openClose2
    (click)="dataTypeModalVisibility = false"
    class="fixed top-0 left-0 z-40 w-screen h-screen bg-black bg-opacity-80"
></div>

<div
    @openClose
    class="fixed left-0 z-50 flex flex-col items-center w-full h-full gap-2 p-4 rounded-t-md bg-neutral-950"
    [ngClass]="{
        'top-1/2': dataTypeModalVisibility,
        'top-full': !dataTypeModalVisibility
    }"
>
    <div class="self-center font-semibold text-center">
        Choose data type to display chart for:
    </div>

    <div class="flex flex-col w-full gap-0.5">
        @for (dataType of dataTypes; track $index) {
        <button
            type="button"
            (click)="changeDataType(dataType)"
            class="flex items-center justify-between transition-all active:opacity-50 active:scale-95 group"
        >
            <div
                class="p-2 transition-colors group-hover:text-emerald-500"
                [ngClass]="{
                    'text-emerald-500': activeDataType === dataType,
                    'font-semibold': activeDataType === dataType
                }"
            >
                {{ dataType }}
            </div>

            @if (activeDataType === dataType) {
            <div>
                <svg
                    class="w-7 h-7 stroke-emerald-500"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M5 13L9 17L19 7"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
            </div>
            }
        </button>
        }
    </div>
</div>
}

<!--  -->
@if (dataTypeModalVisibility) {
<div
    @openClose3
    class="fixed left-0 z-50 w-full p-4 shadow-md rounded-t-md"
    [ngClass]="{
            'bottom-0': dataTypeModalVisibility,
            '-bottom-full': !dataTypeModalVisibility,
        }"
>
    <button
        type="button"
        (click)="dataTypeModalVisibility = false"
        class="py-1.5 mt-2 font-semibold rounded-md w-full bg-neutral-900 transition-all active:scale-95 active:opacity-50 hover:shadow-[0_0_20px_2px_#171717] disabled:opacity-50 disabled:cursor-not-allowed disabled:active:scale-100 disabled:hover:shadow-none"
    >
        Close
    </button>
</div>
}
