<a
    [routerLink]="workoutId"
    [queryParams]="{ splitId: splitId }"
    class="flex flex-col w-full gap-1 p-3 transition-all rounded-md cursor-pointer border-neutral-900 hover:border-emerald-500 active:opacity-50 active:scale-95 hover:text-emerald-500 bg-neutral-900 bg-opacity-50 group"
>
    <div
        class="flex items-center justify-between font-semibold transition-colors"
    >
        {{ workoutName }}

        <svg
            class="w-6 h-6 transition-colors stroke-white group-hover:stroke-emerald-500"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M9 6L15 12L9 18"
                stroke-width="2 "
                stroke-linecap="round"
                stroke-linejoin="round"
            />
        </svg>
    </div>
</a>
