<div class="relative flex justify-between">
    <button
        type="button"
        (click)="optionsModalVisibility = true"
        class="absolute z-10 transition-all top-1 -right-2 active:opacity-50 active:scale-95 group"
    >
        <svg
            class="w-8 h-8 transition-colors stroke-white fill-white group-hover:fill-emerald-500 group-hover:stroke-emerald-500"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M12 12.5C12.2761 12.5 12.5 12.2761 12.5 12C12.5 11.7239 12.2761 11.5 12 11.5C11.7239 11.5 11.5 11.7239 11.5 12C11.5 12.2761 11.7239 12.5 12 12.5Z"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
            <path
                d="M12 18.5C12.2761 18.5 12.5 18.2761 12.5 18C12.5 17.7239 12.2761 17.5 12 17.5C11.7239 17.5 11.5 17.7239 11.5 18C11.5 18.2761 11.7239 18.5 12 18.5Z"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
            <path
                d="M12 6.5C12.2761 6.5 12.5 6.27614 12.5 6C12.5 5.72386 12.2761 5.5 12 5.5C11.7239 5.5 11.5 5.72386 11.5 6C11.5 6.27614 11.7239 6.5 12 6.5Z"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
        </svg>
    </button>

    <div class="flex flex-col items-center w-1/2 gap-2">
        <a
            routerLink=""
            class="flex items-center gap-2 transition-opacity active:opacity-50"
        >
            <div
                class="overflow-hidden border-2 border-solid rounded-full min-w-max border-emerald-500"
            >
                <img
                    [src]="goal.exerciseData.imagePreviewUrl"
                    class="w-9 h-9"
                    [alt]="goal.exerciseData.name + ' graphic'"
                />
            </div>
            <div
                class="text-xl font-semibold text-center max-w-40 text-ellipsis text-emerald-500"
            >
                {{ goal.exerciseData.name }}
            </div>
        </a>

        <div class="flex flex-col gap-1 font-semibold text-center">
            <div>
                <span class="text-neutral-600">Estimated 1rm: </span>

                <span class="font-semibold">{{ goal.current1rm }}kg</span>
            </div>
            <div>
                <span class="text-neutral-600">Targeted 1rm: </span>

                <span class="font-semibold text-emerald-500">
                    {{ goal.goal1rm }}kg
                </span>
            </div>
        </div>
    </div>

    <div class="relative w-1/2 mt-2 size-40">
        <svg
            class="rotate-180 size-full"
            viewBox="0 0 36 36"
            xmlns="http://www.w3.org/2000/svg"
        >
            <circle
                cx="18"
                cy="18"
                r="16"
                fill="none"
                class="text-gray-200 stroke-current dark:text-neutral-900"
                stroke-width="1"
                stroke-dasharray="50 100"
                stroke-linecap="round"
            ></circle>

            <circle
                cx="18"
                cy="18"
                r="16"
                fill="none"
                class="transition-colors stroke-current"
                [ngClass]="{
                    'text-red-500': goal.percentageProgress <= 10,
                    'text-orange-500':
                        goal.percentageProgress > 10 &&
                        goal.percentageProgress <= 30,
                    'text-amber-500':
                        goal.percentageProgress > 30 &&
                        goal.percentageProgress <= 50,
                    'text-yellow-500':
                        goal.percentageProgress > 50 &&
                        goal.percentageProgress <= 70,
                    'text-lime-500':
                        goal.percentageProgress > 70 &&
                        goal.percentageProgress <= 90,
                    'text-green-500': goal.percentageProgress > 90
                }"
                stroke-width="1.5"
                [attr.stroke-dasharray]="goal.percentageProgress / 2 + ' 100'"
                stroke-linecap="round"
            ></circle>
        </svg>

        <div
            class="absolute text-center transform -translate-x-1/2 top-9 start-1/2"
        >
            <span
                class="text-3xl font-bold transition-colors"
                [ngClass]="{
                    'text-red-500': goal.percentageProgress <= 10,
                    'text-orange-500':
                        goal.percentageProgress > 10 &&
                        goal.percentageProgress <= 30,
                    'text-amber-500':
                        goal.percentageProgress > 30 &&
                        goal.percentageProgress <= 50,
                    'text-yellow-500':
                        goal.percentageProgress > 50 &&
                        goal.percentageProgress <= 70,
                    'text-lime-500':
                        goal.percentageProgress > 70 &&
                        goal.percentageProgress <= 90,
                    'text-green-500': goal.percentageProgress > 90
                }"
            >
                {{ goal.percentageProgress }}%
            </span>
            <span
                class="block text-sm transition-colors"
                [ngClass]="{
                    'text-red-500': goal.percentageProgress <= 10,
                    'text-orange-500':
                        goal.percentageProgress > 10 &&
                        goal.percentageProgress <= 30,
                    'text-amber-500':
                        goal.percentageProgress > 30 &&
                        goal.percentageProgress <= 50,
                    'text-yellow-500':
                        goal.percentageProgress > 50 &&
                        goal.percentageProgress <= 70,
                    'text-lime-500':
                        goal.percentageProgress > 70 &&
                        goal.percentageProgress <= 90,
                    'text-green-500': goal.percentageProgress > 90
                }"
            >
                Progress
            </span>
        </div>
    </div>
</div>

@if (optionsModalVisibility) {
<!-- eslint-disable-next-line    -->
<div
    @openClose2
    (click)="optionsModalVisibility = false"
    class="fixed top-0 left-0 z-40 w-screen h-screen bg-black bg-opacity-80"
></div>

<div
    class="fixed left-0 z-50 flex flex-col items-center w-full h-full gap-3 p-4 transition-all duration-500 pb-96 bg-neutral-950 rounded-t-md"
    @openClose
    [ngClass]="{
        'top-1/2': optionsModalVisibility,
        'top-full': !optionsModalVisibility
    }"
>
    <div class="font-semibold text-center">
        Choose action for selected goal:
    </div>
    <div class="flex flex-col w-full gap-1">
        <button
            type="button"
            class="flex items-center gap-2 p-2 transition-all rounded-md active:opacity-50 active:scale-95 hover:bg-neutral-900 group"
        >
            <div class="mt-1 overflow-hidden rounded-full">
                <svg
                    class="w-5 h-5 stroke-white"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M13.0207 5.82839L15.8491 2.99996L20.7988 7.94971L17.9704 10.7781M13.0207 5.82839L3.41405 15.435C3.22652 15.6225 3.12116 15.8769 3.12116 16.1421V20.6776H7.65669C7.92191 20.6776 8.17626 20.5723 8.3638 20.3847L17.9704 10.7781M13.0207 5.82839L17.9704 10.7781"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
            </div>
            <div class="font-semibold mt-0.5">Change goal weight</div>
        </button>
        <button
            type="button"
            class="flex items-center gap-2 p-2 transition-all rounded-md active:opacity-50 active:scale-95 hover:bg-neutral-900 group"
        >
            <div class="mt-1 overflow-hidden rounded-full">
                <svg
                    class="w-5 h-5 stroke-red-500"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M19 11V20.4C19 20.7314 18.7314 21 18.4 21H5.6C5.26863 21 5 20.7314 5 20.4V11"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M10 17V11"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M14 17V11"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M21 7L16 7M3 7L8 7M8 7V3.6C8 3.26863 8.26863 3 8.6 3L15.4 3C15.7314 3 16 3.26863 16 3.6V7M8 7L16 7"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
            </div>
            <div class="font-semibold text-red-500 mt-0.5">Delete goal</div>
        </button>
    </div>
</div>
}

<!--  -->

@if (optionsModalVisibility) {
<div
    @openClose3
    class="fixed left-0 z-50 w-full p-4 shadow-md rounded-t-md bg-neutral-950"
    [ngClass]="{
        'bottom-0': optionsModalVisibility,
        '-bottom-full': !optionsModalVisibility,
    }"
>
    <button
        type="button"
        (click)="optionsModalVisibility = false"
        class="py-1.5 mt-2 font-semibold rounded-md w-full bg-neutral-900 transition-all active:scale-95 active:opacity-50 hover:shadow-[0_0_20px_2px_#171717]"
    >
        Close
    </button>
</div>
}
