<div class="flex flex-col items-center p-4 text-lg">
    <div class="relative flex justify-center w-full">
        <a [routerLink]="['../']">
            <svg
                class="absolute left-0 w-8 h-8 transition-all -translate-y-1/2 top-1/2 stroke-emerald-500 hover:-translate-x-0.5 active:opacity-50 active:scale-95"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M18.5 12H6M6 12L12 6M6 12L12 18"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
        </a>

        <div class="mt-1 mb-2 text-2xl font-semibold text-emerald-500">
            Settings
        </div>
    </div>

    @for (section of [1,2,3,4,5,6]; track $index) {
    <div class="w-full">
        <div
            #stickyElements
            class="sticky top-0 p-2 my-2 font-semibold transition-all bg-opacity-50 rounded-md bg-neutral-900 backdrop-blur-xl"
        >
            Personal
        </div>
        <!-- when sticked to the top make it full width -->
        @for (subsect of [1,2,3,4]; track $index) {
        <button
            type="button"
            class="flex items-center w-full gap-1 p-2 transition-all rounded-md hover:bg-neutral-900"
        >
            <svg
                class="stroke-white w-6 h-6 mt-0.5"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M5 20V19C5 15.134 8.13401 12 12 12V12C15.866 12 19 15.134 19 19V20"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M12 12C14.2091 12 16 10.2091 16 8C16 5.79086 14.2091 4 12 4C9.79086 4 8 5.79086 8 8C8 10.2091 9.79086 12 12 12Z"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
            <div>Account</div>
        </button>

        }
    </div>
    }
    <button
        type="button"
        (click)="logout()"
        class="py-1.5 mt-4 font-semibold rounded-md w-full bg-red-500 transition-all active:scale-95 active:opacity-50 hover:shadow-[0_0_20px_2px_#ef4444]"
    >
        Logout
    </button>
</div>
