<div class="relative flex flex-col w-full gap-1">
    <div class="flex justify-between">
        <app-button-for-modal
            [name]="'Charts'"
            [modalName]="'Choose chart to display'"
            [modalOptions]="[
                'Workout Time',
                'Workout Volume',
                'Reps Performed',
                'Muscle Groups Distribution'
            ]"
            (activeOptionChange)="handle()"
        ></app-button-for-modal>

        <app-period-modal></app-period-modal>
    </div>

    <app-carousel></app-carousel>
</div>
