@if (visibility) {
<!-- eslint-disable-next-line    -->
<div
    @openClose2
    (click)="close()"
    class="fixed top-0 left-0 z-40 w-screen h-screen bg-black bg-opacity-80"
></div>

<div
    @openClose
    class="fixed left-0 z-50 flex flex-col items-center w-full h-full gap-4 p-4 text-lg rounded-t-md bg-neutral-950"
    [ngClass]="{
        'top-2/3': visibility,
        'top-full': !visibility
    }"
>
    <div class="font-semibold">Adjust workout duration:</div>

    <app-scroll-snap-selector
        [list]="timeValues"
        [valueType]="'duration'"
    ></app-scroll-snap-selector>
</div>
}

<!-- indent -->

@if (visibility) {
<div
    @openClose3
    class="fixed left-0 z-50 w-full p-4 shadow-md rounded-t-md"
    [ngClass]="{
        'bottom-0': visibility,
        '-bottom-full': !visibility,
    }"
>
    <button
        type="button"
        (click)="close()"
        class="py-1.5 mt-2 font-semibold rounded-md w-full bg-neutral-900 transition-all active:scale-95 active:opacity-50 hover:shadow-[0_0_20px_2px_#171717]"
    >
        Ok
    </button>
</div>
}
