<a
    [routerLink]="link"
    class="w-full rounded-md flex justify-center items-center border-neutral-900 border-solid border-2 relative outline-none focus-visible:outline-emerald-500 outline-offset-0 overflow-hidden group active:opacity-50 transition-all active:scale-95"
>
    <ng-content></ng-content>

    <div
        class="font-semibold text-3xl w-full h-full text-center p-5 backdrop-blur-xs rounded-md relative z-20 group-hover:text-emerald-500 transition-colors select-none"
    >
        {{ name }}
    </div>

    <div
        class="absolute top-0 z-10 bg-opacity-50 w-full h-full transition-all duration-300 bg-neutral-900 -left-full group-hover:left-0"
    ></div>

    <svg
        class="z-20 stroke-transparent group-hover:stroke-emerald-500 absolute right-6 scale-0 group-hover:scale-100 group-hover:right-0 transition-all top-1/2 -translate-y-1/2 w-10 h-10"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M9 6L15 12L9 18"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
        />
    </svg>
</a>
