<app-activity-bar [title]="'Achievement Creator'">
    <app-previous-route-button leftSide></app-previous-route-button>
    <div class="rightSide"></div>
</app-activity-bar>

<div class="flex flex-col gap-8 p-4 max-w-lg mx-auto lg:pt-10">
    <form [formGroup]="achievementForm" class="flex flex-col gap-4 px-1">
        <div class="relative flex flex-col self-center">
            @if (selectedThumbnail) {
            <img
                [src]="selectedThumbnail"
                class="w-24 h-24 rounded-full"
                alt=""
            />

            <button
                type="button"
                (click)="onNewAchievementImageRemove()"
                class="absolute bottom-0 transition-opacity bg-red-500 rounded-full group -right-1 active:opacity-50"
            >
                <svg
                    class="transition-transform w-7 h-7 p-0.5 stroke-white group-hover:rotate-90"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M6.75827 17.2426L12.0009 12M17.2435 6.75736L12.0009 12M12.0009 12L6.75827 6.75736M12.0009 12L17.2435 17.2426"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
            </button>
            } @else {
            <label
                for="thumbnail"
                class="relative self-center w-24 h-24 transition-opacity bg-opacity-50 rounded-full cursor-pointer bg-neutral-900 active:opacity-50"
            >
                <svg
                    class="absolute w-10 h-10 -translate-x-1/2 -translate-y-1/2 stroke-neutral-700 top-1/2 left-1/2"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M2 19V9C2 7.89543 2.89543 7 4 7H4.5C5.12951 7 5.72229 6.70361 6.1 6.2L8.32 3.24C8.43331 3.08892 8.61115 3 8.8 3H15.2C15.3889 3 15.5667 3.08892 15.68 3.24L17.9 6.2C18.2777 6.70361 18.8705 7 19.5 7H20C21.1046 7 22 7.89543 22 9V19C22 20.1046 21.1046 21 20 21H4C2.89543 21 2 20.1046 2 19Z"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M12 17C14.2091 17 16 15.2091 16 13C16 10.7909 14.2091 9 12 9C9.79086 9 8 10.7909 8 13C8 15.2091 9.79086 17 12 17Z"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>

                <svg
                    class="absolute bottom-0 transition-transform rounded-full w-7 h-7 -right-1 stroke-white bg-emerald-500 hover:rotate-90"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M6 12H12M18 12H12M12 12V6M12 12V18"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>

                <input
                    type="file"
                    #thumbnail
                    (change)="onNewAchievementImageSelect()"
                    id="thumbnail"
                    accept=".jpg, .jpeg, .png"
                    hidden
                />
            </label>
            }
        </div>

        <app-input
            [type]="'text'"
            [label]="'Name'"
            [formControlInput]="achievementForm.controls.name"
        ></app-input>

        <app-input
            [type]="'text'"
            [label]="'Type'"
            [formControlInput]="achievementForm.controls.type"
        ></app-input>

        <app-input
            [type]="'text'"
            [label]="'Description'"
            [formControlInput]="achievementForm.controls.description"
        ></app-input>

        <div formArrayName="tiers" class="flex flex-col gap-4">
            @for (tier of tiers.controls; track $index) {
            <div class="flex items-center gap-4">
                <div
                    class="inline-block text-xl font-semibold text-transparent bg-gradient-to-r text-nowrap bg-clip-text"
                    [ngClass]="{
                        'from-yellow-800': $index === 0,
                        'to-orange-800': $index === 0,
                        'from-slate-300': $index === 1,
                        'to-slate-500': $index === 1,
                        'from-amber-200': $index === 2,
                        'to-yellow-500': $index === 2,
                        'from-cyan-300': $index === 3,
                        'to-sky-400': $index === 3,
                    }"
                >
                    Tier {{ $index + 1 }} -
                </div>

                <app-input
                    [type]="'text'"
                    [label]="'From'"
                    [formControlInput]="tier.controls.from"
                    [inputMask]="'0*'"
                ></app-input>

                <app-input
                    [type]="'text'"
                    [label]="'To'"
                    [formControlInput]="tier.controls.to"
                    [inputMask]="'0*'"
                ></app-input>
            </div>
            }
        </div>

        @if ( tiers.touched && tiers.dirty && tiers.errors && !tiers.pristine) {
        <!--  -->
        @if (tiers.errors!["invalidRange"]) {
        <div class="text-sm font-semibold text-center text-red-600">
            {{ tiers.errors!["invalidRange"] }}
        </div>
        }

        <!--  -->

        @if (tiers.errors!["mismatch"]) {
        <div class="text-sm font-semibold text-center text-red-600">
            {{ tiers.errors!["mismatch"] }}
        </div>
        }
        <!--  -->
        }
    </form>

    <div class="flex flex-col gap-2">
        <button
            type="button"
            (click)="view === 'new' ? addNewAchievement() : updateAchievement()"
            [disabled]="achievementForm.invalid"
            class="py-1.5 font-semibold rounded-md w-full bg-emerald-500 transition-all active:opacity-50 hover:shadow-[0_0_10px_1px_#10b981] disabled:opacity-50 disabled:cursor-not-allowed disabled:active:scale-100 disabled:hover:shadow-none active:shadow-none"
        >
            {{ view === "new" ? "Add achievement" : "Save changes" }}
        </button>
        <a
            routerLink="../"
            type="button"
            class="text-center py-1.5 font-semibold rounded-md w-full bg-neutral-900 transition-all active:shadow-none active:opacity-50 hover:shadow-[0_0_10px_1px_#171717]"
        >
            Cancel & Go Back
        </a>
    </div>
</div>
