<div class="relative flex flex-col items-center gap-4 p-8">
    <div class="flex flex-col items-center w-full gap-2">
        <div
            class="border-2 shadow-[0_0_20px_3px_#10b981] border-solid rounded-full border-emerald-500 overflow-hidden"
        >
            <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHlY7jda7OEmJpPl0ga2UpDzFX8iE9OyVWICN1Qtefc0EWL9NqvlpI1gxKL4dTHTAuk_U&usqp=CAU"
                class="w-16 h-16"
                alt=""
            />
        </div>

        <div class="flex flex-col items-center gap-1 scale-90">
            <div class="text-xl font-semibold">User Name</div>
            <div class="flex justify-between gap-3">
                <div class="flex flex-col items-center">
                    <div class="opacity-50">Followers:</div>
                    <div>000</div>
                </div>
                <div class="flex flex-col items-center">
                    <div class="opacity-50">Following:</div>
                    <div>000</div>
                </div>
                <div class="flex flex-col items-center">
                    <div class="opacity-50">Workouts:</div>
                    <div>000</div>
                </div>
            </div>
        </div>
    </div>

    <div class="relative flex flex-col w-full gap-1">
        <div class="flex justify-between">
            <div>Chart Name:</div>
            <div>Chart Options:</div>
        </div>
        <div
            class="border-2 border-solid rounded-md border-neutral-900 h-44"
        ></div>

        <div class="absolute -left-6 top-1/2">
            <svg
                class="w-6 h-6 transition-colors stroke-black dark:stroke-white hover:stroke-emerald-500"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M15 6L9 12L15 18"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
        </div>

        <div class="absolute -right-6 top-1/2">
            <svg
                class="w-6 h-6 transition-colors stroke-black dark:stroke-white hover:stroke-emerald-500"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M9 6L15 12L9 18"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
        </div>
    </div>

    <div class="flex flex-col items-center w-full gap-1">
        <div class="grid w-full grid-cols-2 gap-2">
            <a
                class="flex items-center gap-2 p-3 transition-all border-2 border-solid rounded-md cursor-pointer border-neutral-900 hover:border-emerald-600 group active:opacity-50 active:scale-95"
            >
                <div>
                    <svg
                        class="w-6 h-6 transition-colors stroke-black dark:stroke-white group-hover:stroke-emerald-500"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M15 4V2M15 4V6M15 4H10.5M3 10V19C3 20.1046 3.89543 21 5 21H19C20.1046 21 21 20.1046 21 19V10H3Z"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M3 10V6C3 4.89543 3.89543 4 5 4H7"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M7 2V6"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M21 10V6C21 4.89543 20.1046 4 19 4H18.5"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                </div>
                <div class="transition-colors group-hover:text-emerald-500">
                    Calendar
                </div>
            </a>
            <a
                class="flex items-center gap-2 p-3 transition-all border-2 border-solid rounded-md cursor-pointer border-neutral-900 hover:border-emerald-600 group active:opacity-50 active:scale-95"
            >
                <div>
                    <svg
                        class="rotate-45 w-6 h-6 stroke-black dark:stroke-white mt-0.5 group-hover:stroke-emerald-500 transition-colors"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M7.4 7H4.6C4.26863 7 4 7.26863 4 7.6V16.4C4 16.7314 4.26863 17 4.6 17H7.4C7.73137 17 8 16.7314 8 16.4V7.6C8 7.26863 7.73137 7 7.4 7Z"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M19.4 7H16.6C16.2686 7 16 7.26863 16 7.6V16.4C16 16.7314 16.2686 17 16.6 17H19.4C19.7314 17 20 16.7314 20 16.4V7.6C20 7.26863 19.7314 7 19.4 7Z"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M1 14.4V9.6C1 9.26863 1.26863 9 1.6 9H3.4C3.73137 9 4 9.26863 4 9.6V14.4C4 14.7314 3.73137 15 3.4 15H1.6C1.26863 15 1 14.7314 1 14.4Z"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M23 14.4V9.6C23 9.26863 22.7314 9 22.4 9H20.6C20.2686 9 20 9.26863 20 9.6V14.4C20 14.7314 20.2686 15 20.6 15H22.4C22.7314 15 23 14.7314 23 14.4Z"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M8 12H16"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                </div>
                <div class="transition-colors group-hover:text-emerald-500">
                    Exercises
                </div>
            </a>
            <a
                class="flex items-center gap-2 p-3 transition-all border-2 border-solid rounded-md cursor-pointer border-neutral-900 hover:border-emerald-600 group active:opacity-50 active:scale-95"
            >
                <div>
                    <svg
                        class="w-6 h-6 stroke-black dark:stroke-white mt-0.5 group-hover:stroke-emerald-500 transition-colors"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M6.74534 4H17.3132C17.3132 4 16.4326 17.2571 12.0293 17.2571C9.87826 17.2571 8.56786 14.0935 7.79011 10.8571C6.97574 7.46844 6.74534 4 6.74534 4Z"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M17.3132 4C17.3132 4 18.2344 3.01733 19 2.99999C20.5 2.96603 20.7773 4 20.7773 4C21.0709 4.60953 21.3057 6.19429 19.8967 7.65715C18.4876 9.12 16.9103 10.4 16.2684 10.8571"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M6.74527 4.00001C6.74527 4.00001 5.78547 3.00614 4.99995 3.00001C3.49995 2.9883 3.22264 4.00001 3.22264 4.00001C2.92908 4.60953 2.69424 6.19429 4.1033 7.65715C5.51235 9.12001 7.14823 10.4 7.79004 10.8572"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M8.50662 20C8.50662 18.1714 12.0292 17.2571 12.0292 17.2571C12.0292 17.2571 15.5519 18.1714 15.5519 20H8.50662Z"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                </div>
                <div class="transition-colors group-hover:text-emerald-500">
                    Goals
                </div>
            </a>
            <a
                class="flex items-center gap-2 p-3 transition-all border-2 border-solid rounded-md cursor-pointer border-neutral-900 hover:border-emerald-600 group active:opacity-50 active:scale-95"
            >
                <div>
                    <svg
                        class="w-6 h-6 transition-colors stroke-black dark:stroke-white group-hover:stroke-emerald-500"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M20 20H4V4"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M4 16.5L12 9L15 12L19.5 7.5"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                </div>
                <div class="transition-colors group-hover:text-emerald-500">
                    Stat Charts
                </div>
            </a>
        </div>
    </div>

    <div class="flex flex-col w-full gap-2">
        <div>Recent Workouts:</div>

        <div class="flex flex-col gap-2">
            <!-- Followers -->
            <!-- <div class="flex items-center gap-2">
                <div
                    class="w-10 h-10 overflow-hidden border-2 border-solid rounded-full border-emerald-500"
                >
                    <img
                        src="https://i.ebayimg.com/images/g/Dv0AAOSwl9BWL6v9/s-l400.jpg"
                        class="w-full h-full"
                        alt=""
                    />
                </div>
                <div class="flex flex-col">
                    <div class="flex items-center gap-1">
                        <div class="font-semibold">User</div>
                        <div>is now following you.</div>
                    </div>
                    <div class="text-sm -translate-y-1 opacity-50">
                        Just Now
                    </div>
                </div>
            </div>
            <div class="flex items-center gap-2">
                <div
                    class="w-10 h-10 overflow-hidden border-2 border-solid rounded-full border-emerald-500"
                >
                    <img
                        src="https://i.pinimg.com/236x/75/fc/c6/75fcc6b11ec2e2a2a6b7163e676c2764.jpg"
                        class="w-full h-full"
                        alt=""
                    />
                </div>
                <div class="flex flex-col">
                    <div class="flex items-center gap-1">
                        <div class="font-semibold">User</div>
                        <div>is now following you.</div>
                    </div>
                    <div class="text-sm -translate-y-1 opacity-50">6m ago</div>
                </div>
            </div>
            <div class="flex items-center gap-2">
                <div
                    class="w-10 h-10 overflow-hidden border-2 border-solid rounded-full border-emerald-500"
                >
                    <img
                        src="https://ih1.redbubble.net/image.1253896659.8601/flat,750x,075,f-pad,750x1000,f8f8f8.jpg"
                        class="w-full h-full"
                        alt=""
                    />
                </div>
                <div class="flex flex-col">
                    <div class="flex items-center gap-1">
                        <div class="font-semibold">User</div>
                        <div>is now following you.</div>
                    </div>
                    <div class="text-sm -translate-y-1 opacity-50">2h ago</div>
                </div>
            </div> -->

            <!-- Comments -->
            <!-- <div class="flex items-center gap-2">
                <div
                    class="self-start overflow-hidden border-2 border-solid rounded-full min-w-max border-emerald-500"
                >
                    <img
                        src="https://i.pinimg.com/236x/75/fc/c6/75fcc6b11ec2e2a2a6b7163e676c2764.jpg"
                        class="w-10 h-10"
                        alt=""
                    />
                </div>
                <div class="flex flex-col">
                    <div>
                        <span class="font-semibold">User</span>
                        commented:
                    </div>
                    <div class="opacity-75">Short Comment.</div>
                    <div class="text-sm opacity-50">Just Now</div>
                </div>
            </div>
            <div class="flex items-center gap-2">
                <div
                    class="self-start overflow-hidden border-2 border-solid rounded-full min-w-max border-emerald-500"
                >
                    <img
                        src="https://i.pinimg.com/236x/75/fc/c6/75fcc6b11ec2e2a2a6b7163e676c2764.jpg"
                        class="w-10 h-10"
                        alt=""
                    />
                </div>
                <div class="flex flex-col">
                    <div>
                        <span class="font-semibold">User</span>
                        commented:
                    </div>
                    <div class="opacity-75">
                        Medium sized comment. Medium sized comment. Medium sized
                    </div>
                    <div class="text-sm opacity-50">6m ago</div>
                </div>
            </div>
            <div class="flex items-center gap-2">
                <div
                    class="self-start overflow-hidden border-2 border-solid rounded-full min-w-max border-emerald-500"
                >
                    <img
                        src="https://i.pinimg.com/236x/75/fc/c6/75fcc6b11ec2e2a2a6b7163e676c2764.jpg"
                        class="w-10 h-10"
                        alt=""
                    />
                </div>
                <div class="flex flex-col">
                    <div>
                        <span class="font-semibold">User</span>
                        commented:
                    </div>
                    <div class="opacity-75">
                        Large comment. Large comment. Large comment. Large
                        comment. Large comment. Large comment. Large comment.
                        Large comment.
                    </div>
                    <div class="text-sm opacity-50">2h ago</div>
                </div>
            </div> -->

            <!-- Workouts: -->
            <a
                class="flex flex-col gap-2 p-2 transition-all border-2 border-solid rounded-md cursor-pointer border-neutral-900 hover:border-emerald-600 active:opacity-50 active:scale-95"
            >
                <div class="flex justify-between">
                    <div class="flex flex-col">
                        <div class="text-lg font-semibold">Chest & Back</div>
                        <div class="text-sm opacity-50">4h ago</div>
                    </div>
                    <button class="group">
                        <svg
                            class="w-6 h-6 transition-colors stroke-black dark:stroke-white group-hover:stroke-emerald-500 fill-black dark:fill-white group-hover:fill-emerald-500"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M12 12.5C12.2761 12.5 12.5 12.2761 12.5 12C12.5 11.7239 12.2761 11.5 12 11.5C11.7239 11.5 11.5 11.7239 11.5 12C11.5 12.2761 11.7239 12.5 12 12.5Z"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M12 18.5C12.2761 18.5 12.5 18.2761 12.5 18C12.5 17.7239 12.2761 17.5 12 17.5C11.7239 17.5 11.5 17.7239 11.5 18C11.5 18.2761 11.7239 18.5 12 18.5Z"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M12 6.5C12.2761 6.5 12.5 6.27614 12.5 6C12.5 5.72386 12.2761 5.5 12 5.5C11.7239 5.5 11.5 5.72386 11.5 6C11.5 6.27614 11.7239 6.5 12 6.5Z"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </button>
                </div>

                <div
                    class="flex p-2 border-solid border-y-2 border-neutral-900 text-nowrap"
                >
                    <div class="flex items-center gap-2 pr-2">
                        <div>
                            <svg
                                class="w-6 h-6 transition-colors stroke-black dark:stroke-white"
                                viewBox="0 0 24 24"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M12 6L12 12L18 12"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </div>

                        <div>1h 45m</div>
                    </div>

                    <div
                        class="flex items-center gap-2 px-2 border-solid border-x-2 border-neutral-900"
                    >
                        <div>
                            <svg
                                class="w-6 h-6 transition-colors rotate-45 stroke-black dark:stroke-white"
                                viewBox="0 0 24 24"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M7.4 7H4.6C4.26863 7 4 7.26863 4 7.6V16.4C4 16.7314 4.26863 17 4.6 17H7.4C7.73137 17 8 16.7314 8 16.4V7.6C8 7.26863 7.73137 7 7.4 7Z"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M19.4 7H16.6C16.2686 7 16 7.26863 16 7.6V16.4C16 16.7314 16.2686 17 16.6 17H19.4C19.7314 17 20 16.7314 20 16.4V7.6C20 7.26863 19.7314 7 19.4 7Z"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M1 14.4V9.6C1 9.26863 1.26863 9 1.6 9H3.4C3.73137 9 4 9.26863 4 9.6V14.4C4 14.7314 3.73137 15 3.4 15H1.6C1.26863 15 1 14.7314 1 14.4Z"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M23 14.4V9.6C23 9.26863 22.7314 9 22.4 9H20.6C20.2686 9 20 9.26863 20 9.6V14.4C20 14.7314 20.2686 15 20.6 15H22.4C22.7314 15 23 14.7314 23 14.4Z"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M8 12H16"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </div>

                        <div>14 000kg</div>
                    </div>

                    <div class="flex items-center gap-2 pl-2">
                        <div class="font-medium">Sets:</div>

                        <div>23</div>
                    </div>
                </div>
                <div class="self-center text-sm opacity-75">Exercises:</div>
                <div class="flex flex-col gap-2">
                    <div class="flex items-center gap-2">
                        <div
                            class="overflow-hidden border-2 border-solid rounded-full min-w-max border-emerald-500"
                        >
                            <img
                                src="https://www.kettlebellkings.com/cdn/shop/articles/barbell-deadlift-movement.gif?v=1692228918"
                                class="w-10 h-10"
                                alt=""
                            />
                        </div>
                        <div>
                            <span class="font-semibold">Deadlift</span> - 3 sets
                        </div>
                    </div>
                    <div class="flex items-center gap-2">
                        <div
                            class="overflow-hidden border-2 border-solid rounded-full min-w-max border-emerald-500"
                        >
                            <img
                                src="https://www.kettlebellkings.com/cdn/shop/articles/barbell-deadlift-movement.gif?v=1692228918"
                                class="w-10 h-10"
                                alt=""
                            />
                        </div>
                        <div>
                            <span class="font-semibold">Bench Press</span> - 2
                            sets
                        </div>
                    </div>
                    <div class="flex items-center gap-2">
                        <div
                            class="overflow-hidden border-2 border-solid rounded-full min-w-max border-emerald-500"
                        >
                            <img
                                src="https://www.kettlebellkings.com/cdn/shop/articles/barbell-deadlift-movement.gif?v=1692228918"
                                class="w-10 h-10"
                                alt=""
                            />
                        </div>
                        <div>
                            <span class="font-semibold">Squat</span> - 5 sets
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
