<app-activity-bar [title]="'Profile'">
    <a
        leftSide
        routerLink="/pro"
        class="font-semibold text-yellow-500 transition-all golden-text-shadow active:opacity-50"
    >
        PRO
    </a>
    <a
        rightSide
        routerLink="settings"
        class="transition-opacity active:opacity-50"
    >
        <svg
            class="w-6 h-6 transition-colors rotate-90 fill-white hover:fill-emerald-500"
            version="1.1"
            id="Capa_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 480.3 480.3"
            xml:space="preserve"
        >
            <g>
                <g>
                    <path
                        d="M254.15,234.1V13.5c0-7.5-6-13.5-13.5-13.5s-13.5,6-13.5,13.5v220.6c-31.3,6.3-55,34-55,67.2s23.7,60.9,55,67.2v98.2
                c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5v-98.2c31.3-6.3,55-34,55-67.2C309.15,268.2,285.55,240.4,254.15,234.1z M240.65,342.8
                c-22.9,0-41.5-18.6-41.5-41.5s18.6-41.5,41.5-41.5s41.5,18.6,41.5,41.5S263.55,342.8,240.65,342.8z"
                    />
                    <path
                        d="M88.85,120.9V13.5c0-7.5-6-13.5-13.5-13.5s-13.5,6-13.5,13.5v107.4c-31.3,6.3-55,34-55,67.2s23.7,60.9,55,67.2v211.4
                c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5V255.2c31.3-6.3,55-34,55-67.2S120.15,127.2,88.85,120.9z M75.35,229.6
                c-22.9,0-41.5-18.6-41.5-41.5s18.6-41.5,41.5-41.5s41.5,18.6,41.5,41.5S98.15,229.6,75.35,229.6z"
                    />
                    <path
                        d="M418.45,120.9V13.5c0-7.5-6-13.5-13.5-13.5s-13.5,6-13.5,13.5v107.4c-31.3,6.3-55,34-55,67.2s23.7,60.9,55,67.2v211.5
                c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5V255.2c31.3-6.3,55-34,55-67.2S449.85,127.2,418.45,120.9z M404.95,229.6
                c-22.9,0-41.5-18.6-41.5-41.5s18.6-41.5,41.5-41.5s41.5,18.6,41.5,41.5S427.85,229.6,404.95,229.6z"
                    />
                </g>
            </g>
        </svg>
    </a>
</app-activity-bar>

<div class="relative flex flex-col items-center gap-4 p-4 pt-6">
    <div class="flex flex-col items-center w-full gap-1">
        @if (userPfp()) {
        <button
            type="button"
            (click)="pfpFullView = true"
            class="border-2 shadow-[0_0_10px_2px_#10b981] border-solid rounded-full border-emerald-500 overflow-hidden transition-all active:opacity-50 hover:shadow-[0_0_15px_3px_#10b981]"
        >
            <img
                [src]="userPfp()"
                class="w-16 h-16"
                [alt]="userName() + ' full pfp'"
            />
        </button>
        } @else {
        <div
            class="w-16 h-16 p-2 border-2 border-solid rounded-full shadow-[0_0_10px_2px_#fff]"
        >
            <svg
                class="stroke-white"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M5 20V19C5 15.134 8.13401 12 12 12V12C15.866 12 19 15.134 19 19V20"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M12 12C14.2091 12 16 10.2091 16 8C16 5.79086 14.2091 4 12 4C9.79086 4 8 5.79086 8 8C8 10.2091 9.79086 12 12 12Z"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
        </div>
        }

        <div class="flex flex-col items-center gap-2 scale-90">
            <div class="text-xl font-semibold">
                {{ userName() }}
                <!--  -->
                @if (userRole() !== 'user') {
                <span class="text-emerald-500">
                    ({{ userRole() | titlecase }})
                </span>
                }
            </div>
            <div class="flex justify-between gap-3">
                <div class="flex flex-col items-center">
                    <div class="text-neutral-700">Followers:</div>
                    <div>000</div>
                </div>
                <div class="flex flex-col items-center">
                    <div class="text-neutral-700">Following:</div>
                    <div>000</div>
                </div>
                <div class="flex flex-col items-center">
                    <div class="text-neutral-700">Workouts:</div>
                    <div>000</div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid w-full grid-cols-2 gap-1">
        <app-icon-button [link]="'exercises'" [name]="'Exercises'">
            <svg
                class="rotate-45 w-6 h-6 stroke-black dark:stroke-white mt-0.5 group-hover:stroke-emerald-500 transition-colors"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M7.4 7H4.6C4.26863 7 4 7.26863 4 7.6V16.4C4 16.7314 4.26863 17 4.6 17H7.4C7.73137 17 8 16.7314 8 16.4V7.6C8 7.26863 7.73137 7 7.4 7Z"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M19.4 7H16.6C16.2686 7 16 7.26863 16 7.6V16.4C16 16.7314 16.2686 17 16.6 17H19.4C19.7314 17 20 16.7314 20 16.4V7.6C20 7.26863 19.7314 7 19.4 7Z"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M1 14.4V9.6C1 9.26863 1.26863 9 1.6 9H3.4C3.73137 9 4 9.26863 4 9.6V14.4C4 14.7314 3.73137 15 3.4 15H1.6C1.26863 15 1 14.7314 1 14.4Z"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M23 14.4V9.6C23 9.26863 22.7314 9 22.4 9H20.6C20.2686 9 20 9.26863 20 9.6V14.4C20 14.7314 20.2686 15 20.6 15H22.4C22.7314 15 23 14.7314 23 14.4Z"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M8 12H16"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
        </app-icon-button>

        <app-icon-button [link]="'calendar'" [name]="'Calendar'">
            <svg
                class="w-6 h-6 transition-colors stroke-black dark:stroke-white group-hover:stroke-emerald-500"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M15 4V2M15 4V6M15 4H10.5M3 10V19C3 20.1046 3.89543 21 5 21H19C20.1046 21 21 20.1046 21 19V10H3Z"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M3 10V6C3 4.89543 3.89543 4 5 4H7"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M7 2V6"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M21 10V6C21 4.89543 20.1046 4 19 4H18.5"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
        </app-icon-button>

        <app-icon-button [link]="'statistics'" [name]="'Statistics'">
            <svg
                class="w-6 h-6 transition-colors stroke-black dark:stroke-white group-hover:stroke-emerald-500"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M20 20H4V4"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M4 16.5L12 9L15 12L19.5 7.5"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
        </app-icon-button>

        <app-icon-button [link]="'history'" [name]="'History'">
            <svg
                class="w-6 h-6 transition-colors stroke-black dark:stroke-white group-hover:stroke-emerald-500"
                viewBox="0 0 48 48"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M5.81824 6.72729V14H13.091"
                    stroke-width="3.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M4 24C4 35.0457 12.9543 44 24 44V44C35.0457 44 44 35.0457 44 24C44 12.9543 35.0457 4 24 4C16.598 4 10.1351 8.02111 6.67677 13.9981"
                    stroke-width="3.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M24.005 12L24.0038 24.0088L32.4832 32.4882"
                    stroke-width="3.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
        </app-icon-button>

        @if (proPlan()) {
        <app-icon-button [link]="'goals'" [name]="'Goals'">
            <svg
                class="w-6 h-6 stroke-black dark:stroke-white mt-0.5 group-hover:stroke-emerald-500 transition-colors"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M6.74534 4H17.3132C17.3132 4 16.4326 17.2571 12.0293 17.2571C9.87826 17.2571 8.56786 14.0935 7.79011 10.8571C6.97574 7.46844 6.74534 4 6.74534 4Z"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M17.3132 4C17.3132 4 18.2344 3.01733 19 2.99999C20.5 2.96603 20.7773 4 20.7773 4C21.0709 4.60953 21.3057 6.19429 19.8967 7.65715C18.4876 9.12 16.9103 10.4 16.2684 10.8571"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M6.74527 4.00001C6.74527 4.00001 5.78547 3.00614 4.99995 3.00001C3.49995 2.9883 3.22264 4.00001 3.22264 4.00001C2.92908 4.60953 2.69424 6.19429 4.1033 7.65715C5.51235 9.12001 7.14823 10.4 7.79004 10.8572"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M8.50662 20C8.50662 18.1714 12.0292 17.2571 12.0292 17.2571C12.0292 17.2571 15.5519 18.1714 15.5519 20H8.50662Z"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
        </app-icon-button>
        } @else {
        <a routerLink="/pro" class="relative group">
            <div class="mt-2 text-center">Lorem impsum dolor</div>
            <div
                class="absolute top-0 left-0 flex items-center w-full gap-1 p-3 transition-all border-2 border-solid rounded-md cursor-pointer group-hover:border-yellow-500 border-neutral-900 backdrop-blur-xl group-active:backdrop-blur-2xl"
            >
                <svg
                    class="w-6 h-6 stroke-yellow-500 mt-0.5 group-active:opacity-50 transition-opacity"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M16 12H17.4C17.7314 12 18 12.2686 18 12.6V19.4C18 19.7314 17.7314 20 17.4 20H6.6C6.26863 20 6 19.7314 6 19.4V12.6C6 12.2686 6.26863 12 6.6 12H8M16 12V8C16 6.66667 15.2 4 12 4C8.8 4 8 6.66667 8 8V12M16 12H8"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>

                <div
                    class="font-semibold text-yellow-500 transition-opacity group-active:opacity-50"
                >
                    Goals
                </div>
            </div>
        </a>
        }

        <!--  -->

        @if(proPlan()) {
        <app-icon-button [link]="'achievements'" [name]="'Achievements'">
            <svg
                class="w-6 h-6 transition-colors stroke-black dark:stroke-white group-hover:stroke-emerald-500"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M14.2718 10.445L18 2M9.31612 10.6323L5 2M12.7615 10.0479L8.835 2M14.36 2L13.32 4.5M6 16C6 19.3137 8.68629 22 12 22C15.3137 22 18 19.3137 18 16C18 12.6863 15.3137 10 12 10C8.68629 10 6 12.6863 6 16Z"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M10.5 15L12.5 13.5V18.5"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
        </app-icon-button>
        } @else {
        <a routerLink="/pro" class="relative group">
            <div class="mt-2 text-center">Lorem impsum dolor</div>
            <div
                class="absolute top-0 left-0 flex items-center w-full gap-1 p-3 transition-all border-2 border-solid rounded-md cursor-pointer group-hover:border-yellow-500 border-neutral-900 backdrop-blur-xl group-active:backdrop-blur-2xl"
            >
                <svg
                    class="w-6 h-6 stroke-yellow-500 mt-0.5 group-active:opacity-50 transition-opacity"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M16 12H17.4C17.7314 12 18 12.2686 18 12.6V19.4C18 19.7314 17.7314 20 17.4 20H6.6C6.26863 20 6 19.7314 6 19.4V12.6C6 12.2686 6.26863 12 6.6 12H8M16 12V8C16 6.66667 15.2 4 12 4C8.8 4 8 6.66667 8 8V12M16 12H8"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>

                <div
                    class="font-semibold text-yellow-500 transition-opacity group-active:opacity-50"
                >
                    Achievements
                </div>
            </div>
        </a>
        }
    </div>
</div>

@if (pfpFullView) {
<button
    @openClose
    type="button"
    (click)="pfpFullView = false"
    class="absolute transition-opacity top-2 right-2 active:opacity-50 group"
    style="z-index: 60"
>
    <svg
        class="w-10 h-10 transition-colors stroke-white group-hover:stroke-emerald-500"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M6.75827 17.2426L12.0009 12M17.2435 6.75736L12.0009 12M12.0009 12L6.75827 6.75736M12.0009 12L17.2435 17.2426"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
        />
    </svg>
</button>

<!-- eslint-disable-next-line -->
<div
    @openClose
    (click)="pfpFullView = false"
    class="fixed top-0 left-0 z-50 w-screen h-screen bg-black bg-opacity-80"
></div>

<div
    @openClose
    class="absolute -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
    style="z-index: 60"
>
    <img
        [src]="userPfp()"
        class="w-full h-full rounded-full"
        [alt]="userName() + ' full pfp'"
    />
</div>
}
