<app-activity-bar [title]="'Profile'">
    <a
        leftSide
        routerLink="settings"
        class="transition-opacity active:opacity-50 group -translate-y-[1px]"
    >
        <svg
            class="w-6 h-6 stroke-white group-hover:stroke-emerald-500 transition-colors"
            viewBox="0 0 15 15"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                stroke-width="1.2"
                d="M15 3.5L6.5 3.5M6.5 3.5C6.5 2.39543 5.60457 1.5 4.5 1.5C3.39543 1.5 2.5 2.39543 2.5 3.5M6.5 3.5C6.5 4.60457 5.60457 5.5 4.5 5.5C3.39543 5.5 2.5 4.60457 2.5 3.5M2.5 3.5L0 3.5M15 11.5L12.5 11.5M12.5 11.5C12.5 10.3954 11.6046 9.5 10.5 9.5C9.39543 9.5 8.5 10.3954 8.5 11.5M12.5 11.5C12.5 12.6046 11.6046 13.5 10.5 13.5C9.39543 13.5 8.5 12.6046 8.5 11.5M8.5 11.5H1.27146e-07"
            />
        </svg>
    </a>

    @if (proPlan()) {
    <a routerLink="pro" rightSide>
        <svg
            class="w-7 h-7 stroke-amber-500 mb-0.5"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M4 8L6 20H18L20 8M4 8L5.71624 9.37299C6.83218 10.2657 7.39014 10.7121 7.95256 10.7814C8.4453 10.8421 8.94299 10.7173 9.34885 10.4314C9.81211 10.1051 10.0936 9.4483 10.6565 8.13476L12 5M4 8C4.55228 8 5 7.55228 5 7C5 6.44772 4.55228 6 4 6C3.44772 6 3 6.44772 3 7C3 7.55228 3.44772 8 4 8ZM20 8L18.2838 9.373C17.1678 10.2657 16.6099 10.7121 16.0474 10.7814C15.5547 10.8421 15.057 10.7173 14.6511 10.4314C14.1879 10.1051 13.9064 9.4483 13.3435 8.13476L12 5M20 8C20.5523 8 21 7.55228 21 7C21 6.44772 20.5523 6 20 6C19.4477 6 19 6.44772 19 7C19 7.55228 19.4477 8 20 8ZM12 5C12.5523 5 13 4.55228 13 4C13 3.44772 12.5523 3 12 3C11.4477 3 11 3.44772 11 4C11 4.55228 11.4477 5 12 5ZM12 4H12.01M20 7H20.01M4 7H4.01"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
        </svg>
    </a>
    } @else {
    <a
        rightSide
        routerLink="/pro"
        class="font-semibold text-yellow-500 transition-all golden-text-shadow active:opacity-50"
    >
        PRO
    </a>
    }
</app-activity-bar>

<div class="relative flex flex-col items-center gap-4 p-4 pt-6">
    <div class="flex flex-col items-center w-full gap-3">
        @if (userPfp()) {
        <button
            type="button"
            (click)="pfpFullView = true"
            class="border-2 shadow-[0_0_10px_2px_#10b981] border-solid rounded-full border-emerald-500 overflow-hidden transition-all active:opacity-50 hover:shadow-[0_0_15px_3px_#10b981]"
        >
            <img
                [src]="userPfp()"
                class="w-20 h-20"
                [alt]="userName() + ' full pfp'"
            />
        </button>
        } @else {
        <div
            class="w-20 h-20 p-2 border-2 border-solid rounded-full shadow-[0_0_10px_2px_#fff]"
        >
            <svg
                class="stroke-white"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M5 20V19C5 15.134 8.13401 12 12 12V12C15.866 12 19 15.134 19 19V20"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M12 12C14.2091 12 16 10.2091 16 8C16 5.79086 14.2091 4 12 4C9.79086 4 8 5.79086 8 8C8 10.2091 9.79086 12 12 12Z"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
        </div>
        }

        <div class="flex flex-col items-center font-semibold">
            <div class="text-xl">
                {{ userName() }}
            </div>

            @if (userRole() !== 'user') {
            <div class="text-emerald-500 text-sm">
                ({{ userRole() | titlecase }})
            </div>
            }
        </div>
    </div>

    <div class="flex flex-col gap-1 w-full">
        <app-link-bg-icon [link]="'exercises'" [name]="'Exercises'">
            <svg
                class="w-36 h-36 z-10 stroke-neutral-900 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transition-all rotate-45"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M7.4 7H4.6C4.26863 7 4 7.26863 4 7.6V16.4C4 16.7314 4.26863 17 4.6 17H7.4C7.73137 17 8 16.7314 8 16.4V7.6C8 7.26863 7.73137 7 7.4 7Z"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M19.4 7H16.6C16.2686 7 16 7.26863 16 7.6V16.4C16 16.7314 16.2686 17 16.6 17H19.4C19.7314 17 20 16.7314 20 16.4V7.6C20 7.26863 19.7314 7 19.4 7Z"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M1 14.4V9.6C1 9.26863 1.26863 9 1.6 9H3.4C3.73137 9 4 9.26863 4 9.6V14.4C4 14.7314 3.73137 15 3.4 15H1.6C1.26863 15 1 14.7314 1 14.4Z"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M23 14.4V9.6C23 9.26863 22.7314 9 22.4 9H20.6C20.2686 9 20 9.26863 20 9.6V14.4C20 14.7314 20.2686 15 20.6 15H22.4C22.7314 15 23 14.7314 23 14.4Z"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M8 12H16"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
        </app-link-bg-icon>

        <app-link-bg-icon [link]="'calendar'" [name]="'Calendar'">
            <svg
                class="w-24 h-24 z-10 stroke-neutral-900 -rotate-45 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transition-all"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M15 4V2M15 4V6M15 4H10.5M3 10V19C3 20.1046 3.89543 21 5 21H19C20.1046 21 21 20.1046 21 19V10H3Z"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M3 10V6C3 4.89543 3.89543 4 5 4H7"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M7 2V6"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M21 10V6C21 4.89543 20.1046 4 19 4H18.5"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
        </app-link-bg-icon>

        <app-link-bg-icon [link]="'statistics'" [name]="'Statistics'">
            <svg
                class="w-32 h-32 z-10 stroke-neutral-900 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transition-all"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M20 20H4V4"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M4 16.5L12 9L15 12L19.5 7.5"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
        </app-link-bg-icon>

        <app-link-bg-icon [link]="'history'" [name]="'History'">
            <svg
                class="w-32 h-32 z-10 stroke-neutral-900 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transition-all"
                viewBox="0 0 48 48"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M5.81824 6.72729V14H13.091"
                    stroke-width="3.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M4 24C4 35.0457 12.9543 44 24 44V44C35.0457 44 44 35.0457 44 24C44 12.9543 35.0457 4 24 4C16.598 4 10.1351 8.02111 6.67677 13.9981"
                    stroke-width="3.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M24.005 12L24.0038 24.0088L32.4832 32.4882"
                    stroke-width="3.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
        </app-link-bg-icon>

        <app-link-bg-icon [link]="'goals'" [name]="'Goals'">
            <svg
                class="w-40 h-40 z-10 stroke-neutral-900 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transition-all"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M6.74534 4H17.3132C17.3132 4 16.4326 17.2571 12.0293 17.2571C9.87826 17.2571 8.56786 14.0935 7.79011 10.8571C6.97574 7.46844 6.74534 4 6.74534 4Z"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M17.3132 4C17.3132 4 18.2344 3.01733 19 2.99999C20.5 2.96603 20.7773 4 20.7773 4C21.0709 4.60953 21.3057 6.19429 19.8967 7.65715C18.4876 9.12 16.9103 10.4 16.2684 10.8571"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M6.74527 4.00001C6.74527 4.00001 5.78547 3.00614 4.99995 3.00001C3.49995 2.9883 3.22264 4.00001 3.22264 4.00001C2.92908 4.60953 2.69424 6.19429 4.1033 7.65715C5.51235 9.12001 7.14823 10.4 7.79004 10.8572"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M8.50662 20C8.50662 18.1714 12.0292 17.2571 12.0292 17.2571C12.0292 17.2571 15.5519 18.1714 15.5519 20H8.50662Z"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
        </app-link-bg-icon>

        <app-link-bg-icon [link]="'achievements'" [name]="'Achievements'">
            <svg
                class="w-32 h-32 z-10 stroke-neutral-900 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transition-all"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M14.2718 10.445L18 2M9.31612 10.6323L5 2M12.7615 10.0479L8.835 2M14.36 2L13.32 4.5M6 16C6 19.3137 8.68629 22 12 22C15.3137 22 18 19.3137 18 16C18 12.6863 15.3137 10 12 10C8.68629 10 6 12.6863 6 16Z"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M10.5 15L12.5 13.5V18.5"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
        </app-link-bg-icon>

        <app-link-bg-icon [link]="'assistant'" [name]="'Assistant'">
            <svg
                class="w-20 h-20 z-10 stroke-neutral-900 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transition-all"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M17 12.5C17.2761 12.5 17.5 12.2761 17.5 12C17.5 11.7239 17.2761 11.5 17 11.5C16.7239 11.5 16.5 11.7239 16.5 12C16.5 12.2761 16.7239 12.5 17 12.5Z"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M12 12.5C12.2761 12.5 12.5 12.2761 12.5 12C12.5 11.7239 12.2761 11.5 12 11.5C11.7239 11.5 11.5 11.7239 11.5 12C11.5 12.2761 11.7239 12.5 12 12.5Z"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M7 12.5C7.27614 12.5 7.5 12.2761 7.5 12C7.5 11.7239 7.27614 11.5 7 11.5C6.72386 11.5 6.5 11.7239 6.5 12C6.5 12.2761 6.72386 12.5 7 12.5Z"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 13.8214 2.48697 15.5291 3.33782 17L2.5 21.5L7 20.6622C8.47087 21.513 10.1786 22 12 22Z"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
        </app-link-bg-icon>
    </div>
</div>

@if (pfpFullView) {
<button
    @openClose
    type="button"
    (click)="pfpFullView = false"
    class="absolute transition-opacity top-2 right-2 active:opacity-50 group"
    style="z-index: 60"
>
    <svg
        class="w-10 h-10 transition-colors stroke-white group-hover:stroke-emerald-500"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M6.75827 17.2426L12.0009 12M17.2435 6.75736L12.0009 12M12.0009 12L6.75827 6.75736M12.0009 12L17.2435 17.2426"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
        />
    </svg>
</button>

<!-- eslint-disable-next-line -->
<div
    @openClose
    (click)="pfpFullView = false"
    class="fixed top-0 left-0 z-50 w-screen h-screen bg-black bg-opacity-80"
></div>

<div
    @openClose
    class="absolute -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
    style="z-index: 60"
>
    <img
        [src]="userPfp()"
        class="w-full h-full rounded-full"
        [alt]="userName() + ' full pfp'"
    />
</div>
}
