<button
    type="button"
    (click)="navigateToFullView()"
    class="flex flex-col w-full gap-2 p-2 transition-all border-2 border-solid rounded-md cursor-pointer border-neutral-900 hover:border-emerald-600 active:opacity-25 group"
>
    <div class="flex justify-between">
        <div class="flex flex-col">
            <div class="text-lg font-semibold">{{ workoutData.name }}</div>
            <div class="text-sm opacity-50">4h ago</div>
        </div>
        <button class="group">
            <svg
                class="w-6 h-6 transition-colors stroke-black dark:stroke-white group-hover:stroke-emerald-500 fill-black dark:fill-white group-hover:fill-emerald-500"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M12 12.5C12.2761 12.5 12.5 12.2761 12.5 12C12.5 11.7239 12.2761 11.5 12 11.5C11.7239 11.5 11.5 11.7239 11.5 12C11.5 12.2761 11.7239 12.5 12 12.5Z"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M12 18.5C12.2761 18.5 12.5 18.2761 12.5 18C12.5 17.7239 12.2761 17.5 12 17.5C11.7239 17.5 11.5 17.7239 11.5 18C11.5 18.2761 11.7239 18.5 12 18.5Z"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M12 6.5C12.2761 6.5 12.5 6.27614 12.5 6C12.5 5.72386 12.2761 5.5 12 5.5C11.7239 5.5 11.5 5.72386 11.5 6C11.5 6.27614 11.7239 6.5 12 6.5Z"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
        </button>
    </div>

    <div
        class="flex justify-center p-2 border-solid border-y-2 border-neutral-900 text-nowrap"
    >
        <div class="flex items-center gap-2 pr-2">
            <div>
                <svg
                    class="w-6 h-6 transition-colors stroke-black dark:stroke-white"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M12 6L12 12L18 12"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
            </div>

            <div>{{ workoutData.duration | timeFormatter }}</div>
        </div>

        <div
            class="flex items-center gap-2 px-2 border-solid border-x-2 border-neutral-900"
        >
            <div>
                <svg
                    class="w-6 h-6 transition-colors rotate-45 stroke-black dark:stroke-white"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M7.4 7H4.6C4.26863 7 4 7.26863 4 7.6V16.4C4 16.7314 4.26863 17 4.6 17H7.4C7.73137 17 8 16.7314 8 16.4V7.6C8 7.26863 7.73137 7 7.4 7Z"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M19.4 7H16.6C16.2686 7 16 7.26863 16 7.6V16.4C16 16.7314 16.2686 17 16.6 17H19.4C19.7314 17 20 16.7314 20 16.4V7.6C20 7.26863 19.7314 7 19.4 7Z"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M1 14.4V9.6C1 9.26863 1.26863 9 1.6 9H3.4C3.73137 9 4 9.26863 4 9.6V14.4C4 14.7314 3.73137 15 3.4 15H1.6C1.26863 15 1 14.7314 1 14.4Z"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M23 14.4V9.6C23 9.26863 22.7314 9 22.4 9H20.6C20.2686 9 20 9.26863 20 9.6V14.4C20 14.7314 20.2686 15 20.6 15H22.4C22.7314 15 23 14.7314 23 14.4Z"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M8 12H16"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
            </div>

            <div>{{ workoutData.volume }}kg</div>
        </div>

        <div class="flex items-center gap-2 pl-2">
            <div class="font-medium">Sets:</div>

            <div>{{ workoutData.totalSets }}</div>
        </div>
    </div>
    <div class="self-center text-sm opacity-75">Exercises:</div>
    <div class="flex flex-col gap-2">
        @for (exercise of workoutData.exercises; track $index) {
        <div class="flex items-center gap-2">
            <div
                class="overflow-hidden border-2 border-solid rounded-full min-w-max border-emerald-500"
            >
                <img
                    [src]="exercise.staticData.imagePreviewUrl"
                    class="w-10 h-10"
                    [alt]="exercise.staticData.name + ' graphic'"
                />
            </div>
            <div>
                <span class="font-semibold">{{
                    exercise.staticData.name
                }}</span>
                - {{ workoutData.exercises[$index].sets.length }} sets
            </div>
        </div>
        }
    </div>
    <div class="flex items-center gap-2">
        <div class="w-full border-t-2 border-solid border-neutral-900"></div>
        <div
            class="font-semibold transition-colors text-nowrap group-hover:text-emerald-600"
        >
            See All
        </div>
        <div class="w-full border-t-2 border-solid border-neutral-900"></div>
    </div>
</button>
