<header
    class="fixed z-50 flex items-start self-center justify-between w-full p-4 -translate-x-1/2 max-w-screen-2xl left-1/2"
>
    <label
        for="check"
        class="relative w-16 h-8 rounded-full bg-neutral-300 dark:bg-emerald-500 hover:cursor-pointer"
    >
        <input
            type="checkbox"
            [checked]="!lightTheme"
            (change)="switchTheme()"
            id="check"
            class="sr-only peer"
        />
        <svg
            class="stroke-neutral-400 p-0.5 dark:stroke-emerald-500 w-7 h-7 bg-neutral-200 peer-checked:bg-neutral-950 absolute rounded-full peer-checked:left-8 transition-all top-0.5 left-1 duration-500"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            @if (lightTheme) {
            <path
                d="M12 18C15.3137 18 18 15.3137 18 12C18 8.68629 15.3137 6 12 6C8.68629 6 6 8.68629 6 12C6 15.3137 8.68629 18 12 18Z"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
            <path
                d="M22 12L23 12"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
            <path
                d="M12 2V1"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
            <path
                d="M12 23V22"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
            <path
                d="M20 20L19 19"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
            <path
                d="M20 4L19 5"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
            <path
                d="M4 20L5 19"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
            <path
                d="M4 4L5 5"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
            <path
                d="M1 12L2 12"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
            } @else {
            <path
                d="M3 11.5066C3 16.7497 7.25034 21 12.4934 21C16.2209 21 19.4466 18.8518 21 15.7259C12.4934 15.7259 8.27411 11.5066 8.27411 3C5.14821 4.55344 3 7.77915 3 11.5066Z"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
            }
        </svg>
    </label>

    @if (!isMenuVisible) {
    <button type="button" (click)="isMenuVisible = true">
        <svg
            class="w-8 h-8 stroke-black dark:stroke-white"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M3 5H21"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
            <path
                d="M3 12H21"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
            <path
                d="M3 19H21"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
        </svg>
    </button>
    } @else {
    <button type="button" (click)="isMenuVisible = false" class="z-50">
        <svg
            class="w-8 h-8 stroke-black dark:stroke-white"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M6.75827 17.2426L12.0009 12M17.2435 6.75736L12.0009 12M12.0009 12L6.75827 6.75736M12.0009 12L17.2435 17.2426"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
        </svg>
    </button>
    <div
        class="fixed top-0 left-0 z-40 flex items-center justify-center w-screen h-screen backdrop-blur-xl"
    >
        <ul class="flex flex-col items-center gap-4 text-lg font-semibold">
            <a
                href="https://github.com/pulpetto/GVM"
                class="transition-transform duration-300 hover:scale-105"
            >
                Github Repo
            </a>
    </div>
    }
</header>
