<div
    class="fixed top-0 left-0 flex flex-col items-center w-full gap-2 px-8 pt-2 bg-opacity-50 backdrop-blur-md rounded-b-md"
>
    <button
        type="button"
        (click)="toggleModalVisibility()"
        class="text-sm font-semibold"
    >
        - November 2024 -
    </button>

    <div class="relative flex justify-center gap-1 text-emerald-5">
        @for (day of daysNames; track $index) {
        <div
            class="flex items-start justify-center w-10 h-10 font-semibold text-center"
        >
            {{ day }}
        </div>
        }
        <button
            type="button"
            (click)="changeFirstDayToLeft()"
            class="absolute -left-6 top-0.5 group"
        >
            <svg
                class="w-6 h-6 transition-colors stroke-black dark:stroke-white group-hover:stroke-emerald-500"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M15 6L9 12L15 18"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
        </button>
        <button
            type="button"
            (click)="changeFirstDayToRight()"
            class="absolute -right-6 top-0.5 group"
        >
            <svg
                class="w-6 h-6 transition-colors stroke-black dark:stroke-white group-hover:stroke-emerald-500"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M9 6L15 12L9 18"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
        </button>
    </div>
</div>

<div class="flex flex-col gap-4 pt-20 mx-auto max-w-max">
    @for (mnth of [1,2,3,4,5]; track $index) {
    <div class="flex flex-col items-center gap-2">
        <div class="text-xl font-semibold">November 2024</div>
        <div class="grid grid-cols-7 gap-1">
            @for (x of [].constructor(30); track $index) {
            <a
                [routerLink]="'day' + x"
                [ngClass]="{
                    'border-emerald-500': $index <= 10,
                    'focus:border-white': $index >= 0,
                    'text-emerald-500': $index <= 10,
                    'border-transparent': $index > 10,
                    'text-neutral-700': $index > 10,
                }"
                class="flex items-center justify-center w-10 h-10 font-semibold text-center transition-all border-2 border-solid rounded-md outline-none cursor-pointer hover:bg-emerald-500 active:scale-95 active:opacity-50 focus:text-white focus:border-white bg-neutral-900"
            >
                <div>{{ $index + 1 }}</div>
            </a>
            }
        </div>
    </div>
    }
</div>

@if (isOpen) {
<!-- eslint-disable-next-line    -->
<div
    (click)="toggleModalVisibility()"
    class="fixed top-0 left-0 z-40 w-screen h-screen bg-black bg-opacity-80"
></div>
}

<div
    class="fixed left-0 z-50 flex flex-col w-full h-full gap-2 p-4 overflow-y-scroll transition-all duration-300 bg-neutral-950 rounded-t-md pb-96"
    [ngClass]="{
        'top-1/4': isOpen,
        'top-full': !isOpen
    }"
>
    <div class="self-center font-semibold">Choose month:</div>
    <div class="flex flex-col gap-1">
        @for (option of [].constructor(10); track $index) {
        <button
            type="button"
            (click)="onMonthChange()"
            class="flex items-center justify-between transition-all active:opacity-50 active:scale-95 group"
        >
            <div class="p-2 transition-colors group-hover:text-emerald-500">
                <!-- [ngClass]="{
                    'text-emerald-500': option.active,
                    'font-semibold': option.active
                }" -->
                November 2022
            </div>

            <!-- @if (option.active) {
            <div>
                <svg
                    class="w-6 h-6 stroke-emerald-500"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M5 13L9 17L19 7"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
            </div>
            } -->
        </button>
        }
    </div>
</div>
