@if (toast()) {
<button
    @openClose
    (click)="close()"
    class="fixed flex items-center gap-2 p-3 font-semibold transition-all border-2 border-solid rounded-md active:opacity-50 active:scale-95 h-min bg-neutral-950 top-12"
    [ngClass]="{
        'right-1/2': toast(),
        'translate-x-1/2': toast(),
        '-right-full': !toast(),
        'opacity-100': toast(),
        'opacity-0': !toast(),
        'border-emerald-500': !toast()?.error,
        'border-red-500': toast()?.error,
    }"
>
    <div
        class="w-5 h-5 scale-125 border-2 border-solid rounded-full"
        [ngClass]="{
            'stroke-emerald-500 border-emerald-500': !toast()?.error,
            'stroke-red-500 border-red-500': toast()?.error
        }"
    >
        @if (!toast()?.error) {
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M5 13L9 17L19 7"
                stroke-width="2.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
        </svg>
        } @else {
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M6.75827 17.2426L12.0009 12M17.2435 6.75736L12.0009 12M12.0009 12L6.75827 6.75736M12.0009 12L17.2435 17.2426"
                stroke-width="2.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
        </svg>
        }
    </div>
    <div
        class="w-0.5 ml-1 h-7 rounded-md"
        [ngClass]="{
            'bg-emerald-500': !toast()?.error,
            'bg-red-500': toast()?.error
        }"
    ></div>
    <div class="mb-0.5 text-nowrap text-sm">{{ toast()?.message }}</div>
</button>
}
