<div class="flex flex-col items-center">
    <!-- prettier-ignore -->
    @if (
        activeDataType === 'Muscle groups distribution' ||
        activeDataType === 'Training intensity' ||
        activeDataType === 'Rep ranges types'
    ) {
    <app-radar-chart></app-radar-chart>
    }

    <!-- prettier-ignore -->
    @if (
        activeDataType === 'Workouts duration' ||
        activeDataType === 'Workouts volume' ||
        activeDataType === 'Workouts reps'
    ) {
    <app-line-chart
        class="w-full mt-4"
        [data]="[100, 110, 120, 105, 130]"
        [labels]="['Nov 1', 'Nov 1', 'Nov 1', 'Nov 1', 'Nov 1']"
        [maxLabelsLimit]="5"
        [hoveredValueSuffix]="' kg'"
    ></app-line-chart>
    }
</div>
