<div
    class="relative z-10 flex flex-col items-center justify-center h-screen gap-8"
>
    <div class="text-4xl font-semibold">Join Today!</div>
    <div class="flex flex-col gap-4 lg:w-full lg:max-w-xs">
        <app-input [type]="'text'" [label]="'Username'"></app-input>
        <app-input [type]="'email'" [label]="'E-mail'"></app-input>
        <app-input [type]="'password'" [label]="'Password'"></app-input>
        <app-input [type]="'password'" [label]="'Repeat password'"></app-input>

        <div class="flex flex-col items-center gap-3">
            <button
                type="submit"
                class="focus:shadow-[0_0_30px_3px_#10b981] hover:shadow-[0_0_30px_3px_#10b981] transition-shadow duration-300 w-full p-2 font-semibold border-2 border-transparent border-solid rounded-md text-neutral-200 bg-emerald-500 focus:outline-none"
            >
                Sign up
            </button>
            <div class="flex gap-1 text-xs text-center -translate-y-2">
                <div class="opacity-80">Already have an account?</div>
                <a
                    routerLink="/login"
                    class="font-semibold cursor-pointer text-emerald-500"
                >
                    Log in
                </a>
            </div>
        </div>
    </div>
</div>
