<!-- eslint-disable @angular-eslint/template/mouse-events-have-key-events -->
<div class="grid grid-cols-5 py-1">
    <div class="col-span-2 place-self-center">Tempo:</div>
    <button
        type="button"
        (click)="tempoModalVisibility = true"
        class="col-span-3 text-xl text-center select-none text-neutral-800 place-self-center"
    >
        {{ tempo.eccentricPhaseLength }} - {{ tempo.isometricPhaseOneLength }} -
        {{ tempo.concentricPhaseLength }} - {{ tempo.isometricPhaseTwoLength }}
    </button>
</div>

@if (tempoModalVisibility) {
<!-- eslint-disable-next-line -->
<div
    (click)="tempoModalVisibility = false"
    class="fixed top-0 left-0 z-40 w-screen h-screen bg-black bg-opacity-80"
></div>
}

<div
    class="fixed left-0 z-50 flex flex-col w-full h-full gap-12 p-4 overflow-y-scroll transition-all duration-300 bg-neutral-950 rounded-t-md pb-96"
    [ngClass]="{
        'top-1/2': tempoModalVisibility,
        'top-full': !tempoModalVisibility
    }"
>
    <div class="flex flex-col items-center">
        <div class="self-center text-xl font-semibold">
            Choose tempo values:
        </div>
        <button type="button" class="text-sm opacity-50">
            Don't know how <span class="font-semibold">tempo</span> reps work?
        </button>
    </div>

    <div class="flex items-center self-center gap-1">
        @for (tempoVariable of tempo | keyvalue; track $index) {
        <input
            mask="0"
            type="text"
            [(ngModel)]="tempoVariable.value"
            class="w-12 h-12 text-2xl font-semibold text-center rounded-md outline-none bg-neutral-900 placeholder-neutral-800"
            placeholder="0"
        />
        @if ($index !== 3) {
        <div>
            <svg
                class="w-5 stroke-neutral-900"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M6 12H18"
                    stroke-width="3.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
        </div>
        } }
    </div>

    <button
        type="button"
        (click)="tempoModalVisibility = false"
        class="absolute py-1 font-semibold -translate-y-16 rounded-md left-4 right-4 top-1/2 bg-emerald-500 transition-all active:scale-95 active:opacity-50 hover:shadow-[0_0_20px_2px_#10b981]"
    >
        Ok
    </button>
</div>
