<div class="grid grid-cols-5 py-1">
    <div class="col-span-2 text-nowrap place-self-center">Drop 5kg:</div>

    <input
        mask="000"
        [maxlength]="3"
        type="text"
        [(ngModel)]="weight"
        class="text-center bg-transparent outline-none placeholder-neutral-800 w-7.5 col-span-1"
        placeholder="-"
    />

    <input
        mask="00"
        [maxlength]="2"
        type="text"
        [(ngModel)]="reps"
        class="w-5 col-span-1 text-center bg-transparent outline-none placeholder-neutral-800 place-self-center"
        placeholder="-"
    />

    <button
        type="button"
        class="select-none"
        [ngClass]="{
            'text-neutral-800': !rpe,
            'text-white': rpe
        }"
        (click)="rpeModalVisibility = true"
    >
        <!-- prettier-ignore -->
        @if (!rpe) {
            -
        } @else {
        {{ rpe }}
        }
    </button>
</div>
