<div [formGroup]="dropset" class="relative z-20 grid grid-cols-5 py-1">
    <div class="col-span-1 place-self-center">
        {{ mainSetNumber }}.{{ dropsetNumber }}
    </div>
    <div class="col-span-1 text-orange-500 -translate-x-0.5 place-self-center">
        D
    </div>

    <input
        mask="000"
        [maxlength]="3"
        type="text"
        formControlName="weight"
        class="text-center bg-transparent outline-none placeholder-neutral-800 w-7.5 col-span-1"
        placeholder="-"
    />

    <input
        mask="00"
        [maxlength]="2"
        type="text"
        formControlName="reps"
        class="w-5 col-span-1 text-center bg-transparent outline-none placeholder-neutral-800 place-self-center"
        placeholder="-"
    />

    <app-button-for-rpe-modal
        [rpe]="rpe"
        class="place-self-center"
    ></app-button-for-rpe-modal>
</div>
