<button
    type="button"
    (click)="modalVisibility = true"
    class="absolute group top-2 left-2"
>
    <svg
        class="absolute w-8 h-8 transition-all -rotate-45 stroke-white group-hover:stroke-emerald-500 group-active:scale-95 group-active:opacity-50"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M14 12C14 14.2091 15.7909 16 18 16C20.2091 16 22 14.2091 22 12C22 9.79086 20.2091 8 18 8C15.7909 8 14 9.79086 14 12ZM14 12H2V15"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
        />
        <path
            d="M6 12V15"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
        />
    </svg>
</button>

@if (modalVisibility) {
<!-- eslint-disable-next-line -->
<div
    (click)="modalVisibility = false"
    class="fixed top-0 left-0 z-40 w-screen h-screen bg-black bg-opacity-80"
    @openClose2
></div>

<div
    class="fixed left-0 z-50 flex flex-col w-full h-full gap-4 p-4 overflow-y-scroll transition-all duration-500 pb-96 bg-neutral-950 rounded-t-md"
    @openClose
    [ngClass]="{
        'top-1/2': modalVisibility,
        'top-full': !modalVisibility
    }"
>
    <div class="text-lg font-semibold text-center">
        Choose account type to auto-login:
    </div>

    <div class="flex flex-col w-full gap-1">
        <button
            type="button"
            (click)="loginUser('example1@gmail.com', 'qwertyY1!')"
            class="flex items-center gap-1 p-2 transition-all rounded-md active:opacity-50 active:scale-95 hover:bg-neutral-900 group"
        >
            <div class="mt-0.5 overflow-hidden rounded-full">
                <svg
                    class="w-6 h-6 transition-colors stroke-white group-hover:stroke-emerald-500"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M5 20V19C5 15.134 8.13401 12 12 12V12C15.866 12 19 15.134 19 19V20"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M12 12C14.2091 12 16 10.2091 16 8C16 5.79086 14.2091 4 12 4C9.79086 4 8 5.79086 8 8C8 10.2091 9.79086 12 12 12Z"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
            </div>
            <div class="transition-colors group-hover:text-emerald-500">
                User 1 (empty account)
            </div>
        </button>

        <button
            type="button"
            (click)="loginUser('example2@gmail.com', 'asdfgG1!')"
            class="flex items-center gap-1 p-2 transition-all rounded-md active:opacity-50 active:scale-95 hover:bg-neutral-900 group"
        >
            <div class="mt-0.5 overflow-hidden rounded-full">
                <svg
                    class="w-6 h-6 transition-colors stroke-white group-hover:stroke-emerald-500"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M5 20V19C5 15.134 8.13401 12 12 12V12C15.866 12 19 15.134 19 19V20"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M12 12C14.2091 12 16 10.2091 16 8C16 5.79086 14.2091 4 12 4C9.79086 4 8 5.79086 8 8C8 10.2091 9.79086 12 12 12Z"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
            </div>
            <div class="transition-colors group-hover:text-emerald-500">
                User 2 (used account)
            </div>
        </button>

        <button
            type="button"
            (click)="loginUser('example3@gmail.com', 'zxcvbB1!')"
            class="flex items-center gap-1 p-2 transition-all rounded-md active:opacity-50 active:scale-95 hover:bg-neutral-900 group"
        >
            <div class="mt-0.5 overflow-hidden rounded-full">
                <svg
                    class="w-6 h-6 transition-colors stroke-white group-hover:stroke-emerald-500"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M5 20V19C5 15.134 8.13401 12 12 12V12C15.866 12 19 15.134 19 19V20"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M12 12C14.2091 12 16 10.2091 16 8C16 5.79086 14.2091 4 12 4C9.79086 4 8 5.79086 8 8C8 10.2091 9.79086 12 12 12Z"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
            </div>
            <div class="transition-colors group-hover:text-emerald-500">
                User 3 (Admin account)
            </div>
        </button>
    </div>
</div>
}

<!-- indentation comment -->

@if (modalVisibility) {
<div
    @openClose3
    class="fixed left-0 z-50 w-full p-4 shadow-md rounded-t-md bg-neutral-950"
    [ngClass]="{
        'bottom-0': modalVisibility,
        '-bottom-full': !modalVisibility,
    }"
>
    <button
        type="button"
        (click)="modalVisibility = false"
        class="py-1.5 mt-2 font-semibold rounded-md w-full bg-neutral-900 transition-all active:scale-95 active:opacity-50 hover:shadow-[0_0_20px_2px_#171717]"
    >
        Close
    </button>
</div>
}
