<button
    type="button"
    (click)="navigateToFullView()"
    class="flex flex-col w-full gap-2 p-3 text-base transition-all rounded-md bg-neutral-900 bg-opacity-50 hover:bg-opacity-100 outline-none outline-offset-0 focus-visible:outline-emerald-500 active:opacity-25 group"
>
    <div class="text-2xl font-semibold">{{ workoutData.name }}</div>

    @for (exercise of workoutData.exercises; track $index) {
    <div class="flex items-center gap-2">
        <div
            class="overflow-hidden border-2 border-solid rounded-full min-w-max border-emerald-500"
        >
            <img
                [src]="exercise.staticData.imagePreviewUrl"
                class="w-10 h-10"
                [alt]="exercise.staticData.name + ' graphic'"
            />
        </div>
        <div>
            <span class="font-semiboldd">{{ exercise.staticData.name }}</span>
            - {{ workoutData.exercises[$index].sets.length }} sets
        </div>
    </div>
    }
</button>
