<div class="flex flex-col">
    <div [formGroup]="step" class="relative w-full mt-2">
        <input
            type="text"
            class="text-xl font-semibold bg-transparent outline-none"
            formControlName="name"
        />

        <button type="button" (click)="removeStep()">
            <svg
                class="absolute right-0 w-6 h-6 transition-all -translate-y-1/2 top-1/2 stroke-neutral-700 hover:stroke-red-500 active:opacity-50 active:scale-95"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M19 11V20.4C19 20.7314 18.7314 21 18.4 21H5.6C5.26863 21 5 20.7314 5 20.4V11"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M10 17V11"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M14 17V11"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M21 7L16 7M3 7L8 7M8 7V3.6C8 3.26863 8.26863 3 8.6 3L15.4 3C15.7314 3 16 3.26863 16 3.6V7M8 7L16 7"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
        </button>
    </div>

    <div class="flex flex-col ml-6 text-sm">
        @for (subStep of subSteps.controls; track $index) {
        <app-sub-step
            (substepRemoveEvent)="removeSubstep($event)"
            [index]="$index"
            [subStep]="subStep"
        ></app-sub-step>
        } @if (!newSubstepNameEditorVisibility) {
        <button
            type="button"
            (click)="newSubstepNameEditorVisibility = true"
            class="flex items-center justify-center mt-1 -translate-x-3 group"
        >
            <svg
                class="w-4 h-4 transition-colors stroke-white group-hover:stroke-emerald-500"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M6 12H12M18 12H12M12 12V6M12 12V18"
                    stroke-width="2.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
            <div
                class="self-start font-semibold transition-colors group-hover:text-emerald-500"
            >
                Add Substep
            </div>
        </button>
        } @else {
        <div class="relative w-full mt-1 mr-6">
            <input
                type="text"
                class="font-semibold bg-transparent outline-none placeholder-neutral-700"
                placeholder="Step name..."
                [(ngModel)]="newSubstepName"
            />

            <button type="button" (click)="addSubstep()">
                <svg
                    class="absolute w-5 h-5 transition-all -translate-y-1/2 right-12 top-1/2 stroke-neutral-700 hover:stroke-emerald-500 active:opacity-50 active:scale-95"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M5 13L9 17L19 7"
                        stroke-width="2.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
            </button>

            <button
                type="button"
                (click)="
                    newSubstepNameEditorVisibility = false; newSubstepName = ''
                "
            >
                <svg
                    class="absolute w-5 h-5 transition-all -translate-y-1/2 right-6 top-1/2 stroke-neutral-700 hover:stroke-red-500 active:opacity-50 active:scale-95"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M6.75827 17.2426L12.0009 12M17.2435 6.75736L12.0009 12M12.0009 12L6.75827 6.75736M12.0009 12L17.2435 17.2426"
                        stroke-width="2.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
            </button>
        </div>
        }
    </div>
</div>
