<!-- eslint-disable @angular-eslint/template/mouse-events-have-key-events -->
<button
    type="button"
    class="relative z-20 select-none"
    [ngClass]="{
        'text-neutral-800': !rpe.value,
        'text-white': rpe.value && rpe.value !== 'F',
        'text-red-500': rpe.value === 'F'
    }"
    (click)="openModal()"
>
    <!-- prettier-ignore -->
    @if (!rpe.value) {
        -
    } @else {
    {{ rpe.value }}
    }
</button>

@if (modalVisibility) {
<!-- eslint-disable-next-line -->
<div
    @openClose2
    (click)="modalVisibility = false"
    class="fixed top-0 left-0 z-40 w-screen h-screen bg-black bg-opacity-80"
></div>

<div
    @openClose
    class="fixed left-0 z-50 flex flex-col w-full h-full gap-12 p-4 overflow-y-scroll bg-neutral-950 rounded-t-md pb-96"
    [ngClass]="{
        'top-1/2': modalVisibility,
        'top-full': !modalVisibility
    }"
>
    <div class="flex flex-col">
        <div class="self-center text-xl font-semibold">Choose rpe value:</div>
        <app-info-modal-button
            class="self-center font-semibold"
            [name]="'Dont know what RPE is?'"
            [infoContent]="
                'Rate of perceived exertion (RPE) is used to measure how hard your body works during physical activity. 10 for example, means maximal effort and no reps in reserve. (muscular failure)'
            "
        ></app-info-modal-button>
    </div>

    <div class="flex flex-col gap-2">
        <div class="relative flex justify-between bg-black rounded-md">
            @for (rpeValue of rpeScale; track $index) {
            <button
                #rpeValBtn
                (click)="onRpeValueChange(rpeValue, $index)"
                (mouseover)="onRpeMouseOver(rpeValue, $index)"
                (mouseout)="onRpeMouseOut()"
                class="relative z-10 w-10 h-10 font-semibold rounded-md"
            >
                {{ rpeValue }}
            </button>
            }
            <div
                class="absolute top-0 w-10 h-10 transition-all duration-300 rounded-md"
                [ngClass]="{
                    'opacity-0': !rpe.value,
                    'opacity-100': rpe.value,
                    'bg-green-500': rpe.value === 6,
                    'bg-lime-500': rpe.value === 7,
                    'bg-yellow-500': rpe.value === 8,
                    'bg-amber-500': rpe.value === 9,
                    'bg-orange-500': rpe.value === 9.5,
                    'bg-red-500': rpe.value === 10 || rpe.value === 'F',
                    'shadow-[0_0_20px_2px_#ef4444]': rpe.value === 'F'
                }"
                [style]="'left:' + hoverShadowLeftDistancePx + 'px;'"
            ></div>
            <div
                class="absolute top-0 w-10 h-10 transition-all rounded-md"
                [ngClass]="{
                    'opacity-0': !hoveredRpeValue,
                    'opacity-75': hoveredRpeValue,
                    'bg-green-500': hoveredRpeValue === 6,
                    'bg-lime-500': hoveredRpeValue === 7,
                    'bg-yellow-500': hoveredRpeValue === 8,
                    'bg-amber-500': hoveredRpeValue === 9,
                    'bg-orange-500': hoveredRpeValue === 9.5,
                    'bg-red-500': hoveredRpeValue === 10 || hoveredRpeValue === 'F',
                }"
                [style]="'left:' + leftDistancePxHover + 'px;'"
            ></div>
        </div>
        <div class="text-sm text-center">
            <!-- prettier-ignore -->
            @if(rpe.value === 6) {
                Noticeable effort, but nothing too crazy a few reps left in the tank tank.
            }

            @if(rpe.value === 7) {
                Muscle pain is getting more noticable, around 3 reps left in the tank.
            }

            @if(rpe.value === 8) {
                Difficult, 2 reps left in the tank.
            }

            @if(rpe.value === 9) {
                Very difficult, 1 rep left in the tank.
            }

            @if(rpe.value === 9.5) {
                Super difficult, 1 rep may be possible.
            }

            @if(rpe.value === 10) {
                Extra difficult, not a chance to make another rep.
            }

            @if(rpe.value === 'F') {
                Muscular failure, this rep isn't full done, but only to some extent.
            }
        </div>
    </div>

    <button
        type="button"
        (click)="modalVisibility = false"
        class="absolute py-1 font-semibold -translate-y-16 rounded-md left-4 right-4 top-1/2 bg-emerald-500 transition-all active:scale-95 active:opacity-50 hover:shadow-[0_0_20px_2px_#10b981]"
    >
        Ok
    </button>
</div>
}
