@if (visibility) {
<!-- eslint-disable-next-line    -->
<div
    @openClose2
    (click)="visibility = false"
    class="fixed top-0 left-0 z-40 w-screen h-screen bg-black bg-opacity-80"
></div>

<div
    @openClose
    class="fixed left-0 z-50 flex flex-col items-center w-full h-full gap-4 p-4 text-lg rounded-t-md bg-neutral-950"
    [ngClass]="{
        'top-1/4': visibility,
        'top-full': !visibility
    }"
>
    <div class="text-base font-semibold text-emerald-500">
        Adjust workout start time:
    </div>

    <div class="relative">
        <button type="button" class="text-xl font-semibold">
            November 2024
        </button>
        <button type="button" class="absolute top-[1px] -left-7 group">
            <svg
                class="transition-colors w-7 h-7 stroke-black dark:stroke-white group-hover:stroke-emerald-500"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M15 6L9 12L15 18"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
        </button>
        <button type="button" class="absolute top-[1px] -right-7 group">
            <svg
                class="transition-colors w-7 h-7 stroke-black dark:stroke-white group-hover:stroke-emerald-500"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M9 6L15 12L9 18"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
        </button>
    </div>

    <div class="grid grid-cols-7 gap-1">
        @for (dayOfMonth of [].constructor(30); track $index) {
        <button
            type="button"
            class="flex items-center justify-center w-10 h-10 font-semibold text-center transition-all rounded-md cursor-pointer active:scale-95 active:opacity-50 bg-neutral-900 text-neutral-700"
        >
            <div>{{ $index + 1 }}</div>
        </button>
        }
    </div>

    <div class="flex items-center justify-center w-full gap-4 mt-4">
        <app-scroll-snap-selector></app-scroll-snap-selector>
        <div class="self-end text-3xl font-semibold mb-2.5">:</div>
        <app-scroll-snap-selector></app-scroll-snap-selector>
    </div>
</div>
}

<!-- indent -->

@if (visibility) {
<div
    @openClose3
    class="fixed left-0 z-50 w-full p-4 shadow-md rounded-t-md"
    [ngClass]="{
        'bottom-0': visibility,
        '-bottom-full': !visibility,
    }"
>
    <button
        type="button"
        (click)="visibility = false"
        class="py-1.5 mt-2 font-semibold rounded-md w-full bg-neutral-900 transition-all active:scale-95 active:opacity-50 hover:shadow-[0_0_20px_2px_#171717]"
    >
        Ok
    </button>
</div>
}
