<div class="flex flex-col w-full gap-2">
    <app-button-for-modal
        [name]="'Recent ' + activeTabName"
        [modalName]="'Select one option to display'"
        [modalOptions]="[
            'Recent Workouts',
            'Recent Followers',
            'Recent Comments'
        ]"
        (activeOptionChange)="activeTabChange()"
    ></app-button-for-modal>

    <div class="flex flex-col gap-2">
        <app-workout-preview></app-workout-preview>
        <app-follow-notification></app-follow-notification>
        <app-comment></app-comment>
    </div>
</div>
