<div class="flex flex-col items-center gap-4">
    <div class="flex flex-col items-center gap-0.5 font-semibold">
        <div class="text-xl">Workouts</div>
        <div class="text-3xl text-emerald-500">185</div>
    </div>

    <div class="flex flex-col items-center gap-0.5 font-semibold">
        <div class="text-xl">Sets</div>
        <div class="text-3xl text-emerald-500">3297</div>
    </div>

    <div class="flex flex-col items-center gap-0.5 font-semibold">
        <div class="text-xl">Reps</div>
        <div class="text-3xl text-emerald-500">45 877</div>
    </div>

    <div class="flex flex-col items-center gap-0.5 font-semibold">
        <div class="text-xl">Time Spent</div>
        <div class="text-3xl text-emerald-500">254 hours</div>
    </div>

    <div class="flex flex-col items-center gap-0.5 font-semibold">
        <div class="text-xl">Volume</div>
        <div class="text-3xl text-emerald-500">2 980 400kg</div>
    </div>
</div>
