<app-activity-bar [title]="'Exercises'">
    <app-previous-route-button leftSide></app-previous-route-button>
    <a
        routerLink="new"
        class="transition-opacity group active:opacity-50"
        rightSide
    >
        <svg
            class="w-8 h-8 -mt-2 transition-colors stroke-white group-hover:stroke-emerald-500"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M6 12H12M18 12H12M12 12V6M12 12V18"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
        </svg>
    </a>
</app-activity-bar>

<div class="flex flex-col gap-4 p-4">
    @if (exercises$ | async; as exercises) {
    <!--  -->
    @for (exercise of exercises; track $index) {
    <button
        type="button"
        (click)="redirectToExerciseRoute(exercise)"
        class="flex items-center justify-between w-full p-1 transition-all rounded-md cursor-pointer active:opacity-50 active:scale-95 hover:bg-neutral-900"
    >
        <div class="flex items-center gap-2">
            <div
                class="overflow-hidden border-2 border-solid rounded-full min-w-max border-emerald-500"
            >
                <img
                    [src]="exercise.imagePreviewUrl"
                    class="w-12 h-12"
                    [alt]="exercise.name + ' icon'"
                />
            </div>
            <div class="text-xl font-semibold">
                {{ exercise.name | titlecase }}
            </div>
        </div>
    </button>
    }
    <!--  -->
    } @else {
    <div class="flex flex-col gap-2">
        @for (x of [1,2,3,4]; track $index) {
        <div class="flex items-center gap-3 mx-2 animate-pulse">
            <div class="w-12 h-12 rounded-full bg-neutral-700"></div>

            <div class="flex flex-col gap-2">
                <div class="w-24 h-2 rounded-full bg-neutral-700"></div>
                <div class="h-2 rounded-full w-44 bg-neutral-700"></div>
            </div>
        </div>
        }
    </div>
    }
</div>
