<div class="flex flex-col gap-1 text-lg">
    <div class="flex items-center justify-between">
        <button
            type="button"
            (click)="toggleExpand(dropdown); isOpen = !isOpen"
            class="flex items-center gap-0.5 group max-w-min text-nowrap cursor-pointer active:opacity-50 active:scale-95 transition-all self-start"
        >
            <div
                class="font-semibold transition-colors group-hover:text-emerald-500"
                [ngClass]="{ 'text-emerald-500': isOpen }"
            >
                {{ splitName }}
            </div>
            <div>
                <svg
                    class="w-5 h-5 mt-1 transition-all group-hover:stroke-emerald-500"
                    [ngClass]="{
                        'rotate-180': isOpen,
                        'stroke-black': !isOpen,
                        'dark:stroke-white': !isOpen,
                        'stroke-emerald-500': isOpen,
                        'dark:stroke-emerald-500': isOpen
                    }"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M6 9L12 15L18 9"
                        stroke-width="2.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
            </div>
        </button>

        @if (splitId !== 'uncategorized') {
        <button type="button" (click)="openOptionsModal()" class="group mt-0.5">
            <svg
                class="w-6 h-6 transition-colors stroke-black dark:stroke-white group-hover:stroke-emerald-500 fill-black dark:fill-white group-hover:fill-emerald-500"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M18 12.5C18.2761 12.5 18.5 12.2761 18.5 12C18.5 11.7239 18.2761 11.5 18 11.5C17.7239 11.5 17.5 11.7239 17.5 12C17.5 12.2761 17.7239 12.5 18 12.5Z"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M12 12.5C12.2761 12.5 12.5 12.2761 12.5 12C12.5 11.7239 12.2761 11.5 12 11.5C11.7239 11.5 11.5 11.7239 11.5 12C11.5 12.2761 11.7239 12.5 12 12.5Z"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M6 12.5C6.27614 12.5 6.5 12.2761 6.5 12C6.5 11.7239 6.27614 11.5 6 11.5C5.72386 11.5 5.5 11.7239 5.5 12C5.5 12.2761 5.72386 12.5 6 12.5Z"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
        </button>
        }
    </div>

    <div
        #dropdown
        class="h-0 overflow-y-hidden transition-all duration-300"
        [ngClass]="{ 'mb-2': isOpen }"
    >
        @if (workoutsIds.length === 0) {
        <div
            class="flex flex-col items-center text-sm font-semibold text-center opacity-50"
        >
            <div>Nothing here yet!</div>
            <div>Drag desired workout here to add it</div>
        </div>
        } @else {
        <div class="flex flex-col gap-1">
            @for (id of workoutsIds; track $index) {
            <app-workout-mini-preview
                [workoutId]="id"
            ></app-workout-mini-preview>
            }
        </div>
        }
    </div>
</div>

@if (optionsModalVisibility) {
<!-- eslint-disable-next-line    -->
<div
    @openClose2
    (click)="optionsModalVisibility = false"
    class="fixed top-0 left-0 z-40 w-screen h-screen bg-black bg-opacity-80"
></div>

<div
    @openClose
    class="fixed left-0 z-50 flex flex-col w-full h-full gap-3 p-4 rounded-t-md bg-neutral-950"
    [ngClass]="{
        'top-3/4': optionsModalVisibility,
        'top-full': !optionsModalVisibility
    }"
>
    <div class="self-center text-xl font-semibold">
        Choose action for
        <span class="text-emerald-500">{{ splitName }}</span> split:
    </div>

    <div class="flex flex-col gap-2">
        <button
            type="button"
            class="flex items-center gap-2 transition-all active:opacity-50 active:scale-95 group"
        >
            <div class="mt-1 overflow-hidden rounded-full">
                <svg
                    class="w-8 h-8 p-1 stroke-white"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M13.0207 5.82839L15.8491 2.99996L20.7988 7.94971L17.9704 10.7781M13.0207 5.82839L3.41405 15.435C3.22652 15.6225 3.12116 15.8769 3.12116 16.1421V20.6776H7.65669C7.92191 20.6776 8.17626 20.5723 8.3638 20.3847L17.9704 10.7781M13.0207 5.82839L17.9704 10.7781"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
            </div>
            <div class="text-xl font-semibold text-white">Edit name</div>
        </button>

        <button
            type="button"
            (click)="removeSplit()"
            class="flex items-center gap-2 transition-all active:opacity-50 active:scale-95 group"
        >
            <div class="mt-1 overflow-hidden rounded-full">
                <svg
                    class="w-8 h-8 p-1 stroke-red-500"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M19 11V20.4C19 20.7314 18.7314 21 18.4 21H5.6C5.26863 21 5 20.7314 5 20.4V11"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M10 17V11"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M14 17V11"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M21 7L16 7M3 7L8 7M8 7V3.6C8 3.26863 8.26863 3 8.6 3L15.4 3C15.7314 3 16 3.26863 16 3.6V7M8 7L16 7"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
            </div>
            <div class="font-semibold text-red-500 mt-0.5 text-xl">
                Remove Split
            </div>
        </button>
    </div>
</div>
}
