.cdk-drag-preview {
    background-color: #171717;
    color: white;
    stroke: white;
    fill: white;
    font-size: 1.125rem;
    line-height: 1.75rem;
    border-radius: 0.375rem;
    cursor: move;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
