<div
    class="flex flex-col gap-1 text-lg bg-neutral-900 bg-opacity-25 rounded-md p-2"
>
    <div class="flex w-full justify-center relative">
        <button
            type="button"
            (click)="isOpen = !isOpen"
            class="flex items-center self-center gap-0.5 group max-w-min text-nowrap cursor-pointer active:opacity-50 transition-opacity outline-none outline-offset-0 focus-visible:outline-emerald-500 rounded-md"
        >
            <div
                class="font-semibold transition-colors group-hover:text-emerald-500"
            >
                {{ splitData.name }}
            </div>
            <div>
                <svg
                    class="w-5 h-5 mt-1 transition-all group-hover:stroke-emerald-500 stroke-white"
                    [ngClass]="{
                        'rotate-180': isOpen,
                    }"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M6 9L12 15L18 9"
                        stroke-width="2.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
            </div>
        </button>

        @if (splitData.id !== 'uncategorized' && isOpen) {
        <button
            type="button"
            (click)="optionsModalVisibility = true"
            class="group mt-0.5 absolute top-1/2 -translate-y-1/2 right-0"
        >
            <svg
                class="w-7 h-7 transition-colors stroke-black dark:stroke-white group-hover:stroke-emerald-500 fill-black dark:fill-white group-hover:fill-emerald-500"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M18 12.5C18.2761 12.5 18.5 12.2761 18.5 12C18.5 11.7239 18.2761 11.5 18 11.5C17.7239 11.5 17.5 11.7239 17.5 12C17.5 12.2761 17.7239 12.5 18 12.5Z"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M12 12.5C12.2761 12.5 12.5 12.2761 12.5 12C12.5 11.7239 12.2761 11.5 12 11.5C11.7239 11.5 11.5 11.7239 11.5 12C11.5 12.2761 11.7239 12.5 12 12.5Z"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M6 12.5C6.27614 12.5 6.5 12.2761 6.5 12C6.5 11.7239 6.27614 11.5 6 11.5C5.72386 11.5 5.5 11.7239 5.5 12C5.5 12.2761 5.72386 12.5 6 12.5Z"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
        </button>
        }
    </div>

    @if (isOpen) {
    <section class="overflow-hidden" @toggle>
        <div class="details">
            @if (splitData.workoutsTemplates.length === 0) {
            <div
                cdkDropList
                (cdkDropListDropped)="changeWorkoutsTemplatesOrder($event)"
                class="flex flex-col items-center text-sm font-semibold text-center text-neutral-700 select-none"
            >
                <div>Nothing here yet!</div>
                <div>Drag desired workout here to add it</div>
            </div>
            } @else {
            <div
                cdkDropList
                [cdkDropListData]="splitData.workoutsTemplates"
                [attr.splitId]="splitData.id"
                (cdkDropListDropped)="changeWorkoutsTemplatesOrder($event)"
                class="flex flex-col gap-1 example-list mt-2"
            >
                @for (splitWorkout of splitData.workoutsTemplates; track $index)
                {
                <app-workout-template-preview
                    class="example-box"
                    cdkDrag
                    cdkDragLockAxis="y"
                    [cdkDragData]="splitWorkout"
                    [workoutData]="splitWorkout.template"
                    [splitId]="splitData.id"
                ></app-workout-template-preview>
                }
            </div>
            }
        </div>
    </section>
    }
</div>

<!-- -->

@if (optionsModalVisibility) {
<!-- eslint-disable-next-line    -->
<div
    @openClose2
    (click)="optionsModalVisibility = false"
    class="fixed top-0 left-0 z-40 w-screen h-screen bg-black bg-opacity-80"
></div>

<div
    @openClose
    class="fixed left-1/2 -translate-x-1/2 max-w-lg z-50 flex flex-col w-full h-full gap-3 p-4 text-lg rounded-t-md bg-neutral-950"
    [ngClass]="{
        'top-1/2': optionsModalVisibility,
        'top-full': !optionsModalVisibility
    }"
>
    <div class="self-center font-semibold">
        Choose action for
        <span class="text-emerald-500">{{ splitData.name }}</span> split:
    </div>

    <div class="flex flex-col gap-1">
        <button
            type="button"
            (click)="newSplitNameModalVisibility = true"
            class="flex items-center gap-2 p-2 transition-all rounded-md active:opacity-50 active:scale-95 hover:bg-neutral-900 group"
        >
            <div class="mt-1 overflow-hidden rounded-full">
                <svg
                    class="w-5 h-5 stroke-white"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M13.0207 5.82839L15.8491 2.99996L20.7988 7.94971L17.9704 10.7781M13.0207 5.82839L3.41405 15.435C3.22652 15.6225 3.12116 15.8769 3.12116 16.1421V20.6776H7.65669C7.92191 20.6776 8.17626 20.5723 8.3638 20.3847L17.9704 10.7781M13.0207 5.82839L17.9704 10.7781"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
            </div>
            <div class="font-semibold text-white">Edit name</div>
        </button>

        <button
            type="button"
            (click)="removeSplit()"
            class="flex items-center gap-2 p-2 transition-all rounded-md active:opacity-50 active:scale-95 hover:bg-neutral-900 group"
        >
            <div class="mt-1 overflow-hidden rounded-full">
                <svg
                    class="w-5 h-5 stroke-red-500"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M19 11V20.4C19 20.7314 18.7314 21 18.4 21H5.6C5.26863 21 5 20.7314 5 20.4V11"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M10 17V11"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M14 17V11"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M21 7L16 7M3 7L8 7M8 7V3.6C8 3.26863 8.26863 3 8.6 3L15.4 3C15.7314 3 16 3.26863 16 3.6V7M8 7L16 7"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
            </div>
            <div class="font-semibold text-red-500 mt-0.5">Delete Split</div>
        </button>
    </div>
</div>
}

<!-- -->

@if (optionsModalVisibility) {
<div
    @openClose3
    class="fixed left-1/2 -translate-x-1/2 max-w-lg z-50 w-full p-4 shadow-md rounded-t-md bg-neutral-950"
    [ngClass]="{
    'bottom-0': optionsModalVisibility,
    '-bottom-full': !optionsModalVisibility,
}"
>
    <button
        type="button"
        (click)="optionsModalVisibility = false"
        class="py-2 font-semibold rounded-md w-full bg-neutral-900 transition-all active:scale-95 active:opacity-50 hover:shadow-[0_0_20px_2px_#171717]"
    >
        Close Window
    </button>
</div>
}

<!-- -->

@if (newSplitNameModalVisibility) {
<!-- eslint-disable-next-line    -->
<div
    @openClose2
    (click)="newSplitNameModalVisibility = false"
    class="fixed top-0 left-0 z-40 w-screen h-screen bg-black bg-opacity-80"
></div>

<div
    @openClose
    class="fixed left-1/2 -translate-x-1/2 max-w-lg z-50 flex flex-col items-center w-full h-full gap-3 p-4 text-lg rounded-t-md bg-neutral-950"
    [ngClass]="{
        'top-1/2': newSplitNameModalVisibility,
        'top-full': !newSplitNameModalVisibility
    }"
>
    <div class="font-semibold">Split Name:</div>

    <input
        type="text"
        placeholder="Type here..."
        [(ngModel)]="newSplitName"
        class="p-2 font-semibold bg-opacity-50 rounded-md outline-none placeholder-neutral-800 bg-neutral-900 focus:outline-emerald-500 outline-offset-0"
    />
</div>
}

<!-- -->

@if (newSplitNameModalVisibility) {
<div
    @openClose3
    class="fixed left-1/2 -translate-x-1/2 max-w-lg z-50 w-full p-4 shadow-md rounded-t-md"
    [ngClass]="{
        'bottom-0': newSplitNameModalVisibility,
        '-bottom-full': !newSplitNameModalVisibility,
    }"
>
    <button
        type="button"
        [disabled]="newSplitName.length === 0"
        (click)="changeSplitName()"
        class="py-1.5 font-semibold rounded-md w-full bg-emerald-500 transition-all active:scale-95 active:opacity-50 hover:shadow-[0_0_20px_2px_#10b981] disabled:opacity-50 disabled:cursor-not-allowed disabled:active:scale-100 disabled:hover:shadow-none"
    >
        Change Name
    </button>

    <button
        type="button"
        (click)="closeNewSplitNameModal()"
        class="py-1.5 mt-2 font-semibold rounded-md w-full bg-neutral-900 transition-all active:scale-95 active:opacity-50 hover:shadow-[0_0_20px_2px_#171717] disabled:opacity-50 disabled:cursor-not-allowed disabled:active:scale-100 disabled:hover:shadow-none"
    >
        Cancel & Close
    </button>
</div>
}
