<app-activity-bar [title]="'History'">
    <app-previous-route-button leftSide></app-previous-route-button>
    <div rightSide></div>
</app-activity-bar>

<div class="flex flex-col items-center gap-6 px-4 py-4 text-lg">
    <div class="flex flex-col w-full gap-4 px-2">
        @if (workouts) {
        <ng-container>
            @if (workouts.length > 0) {
            <ng-container>
                @for (workoutData of workouts; track $index) {
                <app-workout-done-preview
                    [workoutData]="workoutData"
                ></app-workout-done-preview>
                }
            </ng-container>
            } @else {
            <div
                class="absolute left-0 z-20 w-full px-8 py-20 text-sm font-semibold text-center -translate-y-1/2 opacity-50 top-1/2 backdrop-blur-lg"
            >
                You haven't worked out yet.
            </div>
            <svg
                class="absolute z-10 rotate-45 -translate-x-1/2 -translate-y-1/2 opacity-50 w-44 h-44 stroke-black top-1/2 dark:stroke-neutral-700 left-1/2"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M7.4 7H4.6C4.26863 7 4 7.26863 4 7.6V16.4C4 16.7314 4.26863 17 4.6 17H7.4C7.73137 17 8 16.7314 8 16.4V7.6C8 7.26863 7.73137 7 7.4 7Z"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M19.4 7H16.6C16.2686 7 16 7.26863 16 7.6V16.4C16 16.7314 16.2686 17 16.6 17H19.4C19.7314 17 20 16.7314 20 16.4V7.6C20 7.26863 19.7314 7 19.4 7Z"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M1 14.4V9.6C1 9.26863 1.26863 9 1.6 9H3.4C3.73137 9 4 9.26863 4 9.6V14.4C4 14.7314 3.73137 15 3.4 15H1.6C1.26863 15 1 14.7314 1 14.4Z"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M23 14.4V9.6C23 9.26863 22.7314 9 22.4 9H20.6C20.2686 9 20 9.26863 20 9.6V14.4C20 14.7314 20.2686 15 20.6 15H22.4C22.7314 15 23 14.7314 23 14.4Z"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M8 12H16"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
            }
        </ng-container>
        } @else {
        <ng-container>
            @for (placeholder of [1,2,3,4]; track $index) {
            <div
                class="flex flex-col gap-6 p-2 border-2 border-solid rounded-md border-neutral-900 animate-pulse"
            >
                <div class="flex flex-col gap-2">
                    <div class="w-20 h-2.5 rounded-full bg-neutral-700"></div>
                    <div class="w-12 h-2 rounded-full bg-neutral-700"></div>
                </div>

                <div class="flex justify-between gap-2">
                    @for (placeholder of [1,2,3]; track $index) {
                    <div class="w-full h-2.5 rounded-full bg-neutral-700"></div>
                    }
                </div>

                <div class="flex flex-col gap-4">
                    @for (placeholder of [1,2,3]; track $index) {
                    <div class="flex items-center gap-2">
                        <div class="w-8 h-8 rounded-full bg-neutral-700"></div>
                        <div class="h-2 rounded-full w-28 bg-neutral-700"></div>
                        <div class="w-10 h-2 rounded-full bg-neutral-700"></div>
                    </div>
                    }
                </div>
            </div>
            }
        </ng-container>
        }
    </div>

    @if (workouts.length > 0 && (workoutsCount !== workouts.length)) {
    <button
        type="button"
        (click)="loadWorkouts()"
        class="p-2 px-6 mb-4 text-sm font-semibold transition-all bg-opacity-50 rounded-md bg-neutral-900 hover:text-emerald-500 active:opacity-50"
    >
        Load More
    </button>
    }
</div>
