<div class="flex flex-col items-center gap-6 px-4 py-4 text-lg">
    <div class="relative flex justify-center w-full">
        <a>
            <svg
                class="absolute left-0 w-8 h-8 transition-all -translate-y-1/2 top-1/2 stroke-emerald-500 hover:-translate-x-0.5 active:opacity-50 active:scale-95"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M18.5 12H6M6 12L12 6M6 12L12 18"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
        </a>

        <div class="mt-1 mb-2 text-2xl font-semibold text-emerald-500">
            Workout History
        </div>
    </div>

    <div class="flex flex-col w-full gap-4 px-2">
        @if (workoutsData$ | async; as workoutsData) {
        <ng-container>
            @if (workoutsData.length > 0) {
            <ng-container>
                @for (workoutData of workoutsData; track $index) {
                <app-workout-done-preview
                    [workoutData]="workoutData"
                ></app-workout-done-preview>
                }
            </ng-container>
            } @else {
            <div>You didn't workout yet!</div>
            }
        </ng-container>
        } @else {
        <ng-container>
            @for (placeholder of [1,2,3,4]; track $index) {
            <div
                class="flex flex-col gap-6 p-2 border-2 border-solid rounded-md border-neutral-900 animate-pulse"
            >
                <div class="flex flex-col gap-2">
                    <div class="w-20 h-2.5 rounded-full bg-neutral-700"></div>
                    <div class="w-12 h-2 rounded-full bg-neutral-700"></div>
                </div>

                <div class="flex justify-between gap-2">
                    @for (placeholder of [1,2,3]; track $index) {
                    <div class="w-full h-2.5 rounded-full bg-neutral-700"></div>
                    }
                </div>

                <div class="flex flex-col gap-4">
                    @for (placeholder of [1,2,3]; track $index) {
                    <div class="flex items-center gap-2">
                        <div class="w-8 h-8 rounded-full bg-neutral-700"></div>
                        <div class="h-2 rounded-full w-28 bg-neutral-700"></div>
                        <div class="w-10 h-2 rounded-full bg-neutral-700"></div>
                    </div>
                    }
                </div>
            </div>
            }
        </ng-container>
        }
    </div>
</div>
