<div class="flex flex-col gap-4">
    <div class="flex flex-col gap-2">
        <div class="text-lg font-semibold text-center">
            How would you rate today's workload?
        </div>
        <div
            class="relative flex justify-between gap-1 text-xs font-semibold rounded-md bg-neutral-900"
        >
            @for (option of workloadOptions; track $index) {
            <button
                type="button"
                #workloadOptionBtn
                (click)="onWorkloadOptionChange($index)"
                class="relative z-10 w-full p-2 text-center transition-colors rounded-md hover:text-white"
                [ngClass]="{
                    'text-white': activeOptionIndex === $index,
                    'text-neutral-700': activeOptionIndex !== $index,
                }"
            >
                {{ option }}
            </button>
            }

            <div
                class="absolute top-0 h-full transition-all duration-300 rounded-md bg-gradient-to-br"
                [ngClass]="{
                    'opacity-0': activeOptionIndex === null,
                    'opacity-100': activeOptionIndex !== null,
                    'from-lime-500 to-green-500': activeOptionIndex === 0,
                    'from-yellow-500 to-orange-500': activeOptionIndex === 1,
                    'from-orange-500 to-red-500': activeOptionIndex === 2,
                }"
                [style]="
                    'left:' +
                    leftDistancePxActive +
                    'px; width:' +
                    activeOptionWidthPx +
                    'px;'
                "
            ></div>
        </div>
    </div>

    <div class="flex flex-col gap-1">
        <div class="text-xl font-semibold">Notes</div>
        <textarea
            class="w-full p-2 rounded-md outline-none bg-neutral-900 focus:outline-emerald-500 outline-offset-0"
            name=""
            id=""
        ></textarea>
    </div>
</div>
