<div class="flex flex-col gap-4">
    <div class="flex flex-col gap-2">
        <div class="text-xl font-semibold">
            How would you rate today's workload?
        </div>
        <div
            class="flex justify-between gap-1 text-xs font-semibold rounded-md bg-neutral-900"
        >
            <div class="w-full p-2 text-center rounded-md">
                Easy, <br />
                too light
            </div>
            <div class="w-full p-2 text-center rounded-md">
                Intense, but <br />
                manageable
            </div>
            <div class="w-full p-2 text-center rounded-md">
                Too much, <br />
                over my limit
            </div>
        </div>
    </div>
    <div class="flex flex-col gap-1">
        <div class="text-xl font-semibold">Any joint soreness?</div>
        <div>scale</div>
    </div>
    <div class="flex flex-col gap-1">
        <div class="text-xl font-semibold">Any muscle soreness?</div>
        <div>scale</div>
    </div>
    <div class="flex flex-col gap-1">
        <div class="text-xl font-semibold">Notes</div>
        <textarea
            class="w-full p-2 rounded-md outline-none bg-neutral-900 focus:outline-emerald-500 outline-offset-0"
            name=""
            id=""
        ></textarea>
    </div>
</div>
