@if (combinedExerciseData$ | async; as exerciseData) {
<app-activity-bar [title]="exerciseData.baseData.name">
    <app-previous-route-button leftSide></app-previous-route-button>
    <div rightSide></div>
</app-activity-bar>

<div class="flex flex-col gap-4 p-4">
    <div
        class="overflow-hidden border-2 border-solid rounded-md border-neutral-900"
    >
        <video
            controls
            [src]="exerciseData.detailsData.instructionVideoPreviewUrl"
        ></video>
    </div>
    <div class="flex flex-col gap-4">
        <div class="flex flex-col items-center gap-2">
            <div class="font-semibold">
                Main muscle group{{
                    exerciseData.baseData.mainMuscleGroups.length === 1
                        ? ""
                        : "s"
                }}:
            </div>

            <div class="flex items-center gap-2">
                @for (mainMuscleGroup of exerciseData.baseData.mainMuscleGroups;
                track $index) {
                <a
                    class="flex flex-col items-center gap-0.5"
                    [routerLink]="mainMuscleGroup.id"
                >
                    <div
                        class="overflow-hidden border-2 border-solid rounded-full min-w-max border-emerald-500"
                    >
                        <img
                            [src]="mainMuscleGroup.imagePreviewUrl"
                            class="w-12 h-12 bg-neutral-950"
                            [alt]="mainMuscleGroup.name + ' graphic'"
                        />
                    </div>

                    <div class="text-sm font-semibold text-emerald-500">
                        {{ mainMuscleGroup.name }}
                    </div>
                </a>
                }
            </div>
        </div>

        <div class="flex flex-col items-center gap-2">
            <div class="font-semibold">
                Secondary muscle group{{
                    exerciseData.baseData.secondaryMuscleGroups.length === 1
                        ? ""
                        : "s"
                }}:
            </div>

            <div class="flex items-center gap-2">
                @for (secondaryMuscleGroup of
                exerciseData.baseData.secondaryMuscleGroups; track $index) {
                <a
                    class="flex flex-col items-center gap-0.5"
                    [routerLink]="secondaryMuscleGroup.id"
                >
                    <div
                        class="overflow-hidden border-2 border-solid rounded-full min-w-max border-emerald-500"
                    >
                        <img
                            [src]="secondaryMuscleGroup.imagePreviewUrl"
                            class="w-12 h-12 bg-neutral-950"
                            [alt]="secondaryMuscleGroup.name + ' graphic'"
                        />
                    </div>

                    <div class="text-sm font-semibold text-emerald-500">
                        {{ secondaryMuscleGroup.name }}
                    </div>
                </a>
                }
            </div>
        </div>
    </div>

    <app-exercise-charts
        [exerciseId]="exerciseId!"
        [workouts]="exerciseData.workoutsWithExercise"
    ></app-exercise-charts>

    <app-tabs [tabNames]="['How to', 'History', 'Variations', 'Records']">
        <ng-template #tabContent1>
            <app-instruction
                [steps]="exerciseData.detailsData.instructionSteps"
            ></app-instruction>
        </ng-template>
        <ng-template #tabContent2>
            <div class="flex flex-col gap-8">
                <!-- prettier-ignore -->
                @for (workoutWithExercise of exerciseData.workoutsWithExercise; track $index) {
                <div class="flex flex-col gap-1">
                    <a
                        [routerLink]="
                            '/user/profile/history/' + workoutWithExercise.id
                        "
                        class="flex flex-col items-center self-center mb-3 transition-opacity group active:opacity-50"
                    >
                        <div
                            class="flex items-center text-2xl font-semibold text-emerald-500"
                        >
                            {{ workoutWithExercise.name }}

                            <svg
                                class="w-8 h-8 stroke-emerald-500 mt-0.5 group-hover:translate-x-0.5 transition-transform"
                                viewBox="0 0 24 24"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M9 6L15 12L9 18"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </div>
                        <div class="text-sm font-semibold text-neutral-700">
                            {{ workoutWithExercise.dateStart | fullDate }}
                        </div>
                    </a>
                    <div
                        class="grid grid-cols-5 font-semibold opacity-50 justify-items-center"
                    >
                        <div>Set</div>
                        <div>Type</div>
                        <div>Weight</div>
                        <div>Reps</div>
                        <div>Rpe</div>
                    </div>
                    <div class="flex flex-col gap-1 text-lg">
                        <!-- prettier-ignore -->
                        @for (exercise of workoutWithExercise.exercises; track $index) {
                        <!--  -->
                        @if (exercise.exerciseId === exerciseId) {
                        <!--  -->
                        @for (set of exercise.sets; track $index) {
                        <div
                            class="relative grid content-center grid-cols-5 py-2 overflow-hidden font-semibold transition-colors rounded-md justify-items-center gap-y-3 group"
                            [ngClass]="{
                                'bg-neutral-900': $index % 2 === 0,
                                'bg-opacity-50': $index % 2 === 0
                            }"
                        >
                            <div>{{ set.setNumber }}</div>
                            <div>{{ set.setTypeName[0] | titlecase }}</div>
                            <div>{{ set.weight ? set.weight : "-" }}</div>
                            <div>{{ set.reps ? set.reps : "-" }}</div>
                            <div>{{ set.rpe ? set.rpe : "-" }}</div>
                        </div>
                        }
                        <!--  -->
                        }
                        <!--  -->
                        }
                    </div>
                </div>
                }
            </div>
        </ng-template>
        <ng-template #tabContent3>
            <div class="flex flex-col gap-2">
                <!-- @for (exercise of exercises; track $index) {
                <a
                    [routerLink]="exercise.name"
                    class="flex items-center w-full gap-2 transition-all rounded-md cursor-pointer active:opacity-50 active:scale-95"
                >
                    <div
                        class="overflow-hidden border-2 border-solid rounded-full min-w-max border-emerald-500"
                    >
                        <img
                            [src]="exercise.iconRoute"
                            class="w-12 h-12"
                            [alt]="exercise.name + ' icon'"
                        />
                    </div>
                    <div class="flex flex-col">
                        <div class="font-semibold">{{ exercise.name }}</div>
                        <div class="text-sm opacity-50">
                            {{ exercise.muscleGroups }}
                        </div>
                    </div>
                </a>
                } -->
            </div>
        </ng-template>
        <ng-template #tabContent4>
            <app-records
                [workouts]="exerciseData.workoutsWithExercise"
                [exerciseId]="exerciseId!"
            ></app-records>
        </ng-template>
    </app-tabs>
</div>
} @else {
<div>loading</div>
}
