<div class="flex flex-col gap-4 px-8 py-4">
    <div class="text-4xl font-semibold text-center">Bench Press</div>
    <div
        class="overflow-hidden border-2 border-solid rounded-md border-neutral-900"
    >
        <video
            src="assets/exercisesVideos/00251201-Barbell-Bench-Press-Chest.mp4"
        ></video>
    </div>
    <div class="flex flex-col text-sm opacity-50">
        <div>
            <span class="mr-1 font-semibold">Main muscles:</span>
            <a routerLink="">Chest</a>
        </div>
        <div>
            <span class="mr-1 font-semibold">Secondary muscles:</span>
            <a routerLink="">Triceps, Shoulders</a>
        </div>
    </div>
    <app-charts-carousel class="w-full"></app-charts-carousel>
    <app-tabs [tabNames]="['How to', 'History', 'Variations', 'Records']">
        <ng-template #tabContent1>
            <app-instruction
                [stepsSimplified]="stepsSimplified"
                [stepsDetailed]="stepsDetailed"
            ></app-instruction>
        </ng-template>
        <ng-template #tabContent2>
            <div class="flex flex-col gap-8">
                <div
                    *ngFor="let item of [1, 2, 3, 4]"
                    class="flex flex-col gap-1"
                >
                    <div class="flex items-start justify-between mb-1">
                        <a
                            class="flex items-center gap-2 text-2xl font-semibold"
                        >
                            Chest / Back
                        </a>
                        <div class="mt-1 text-sm font-semibold opacity-50">
                            00.00.0000 - 00:00
                        </div>
                    </div>
                    <div
                        class="flex justify-between px-2 font-semibold opacity-50"
                    >
                        <div>Set</div>
                        <div>Type</div>
                        <div>Weight</div>
                        <div>Reps</div>
                        <div>Rpe</div>
                    </div>
                    <div class="flex flex-col text-lg">
                        @for (item of [1,2,3,4,5]; track $index) {
                        <div
                            class="flex justify-between px-4 py-2 rounded-md"
                            [ngClass]="{
                                'bg-neutral-900': $index % 2 === 0,
                                'bg-opacity-50': $index % 2 === 0
                            }"
                        >
                            <div>{{ $index + 1 }}</div>
                            <div>P</div>
                            <div>180</div>
                            <div>14</div>
                            <div>9</div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template #tabContent3>
            <div>tab content 3</div>
        </ng-template>
        <ng-template #tabContent4>
            <div class="relative">
                <svg
                    class="absolute top-0 z-10 -translate-x-1/2 opacity-25 w-80 h-80 stroke-emerald-900 left-1/2 animate-pulse"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M6.74534 4H17.3132C17.3132 4 16.4326 17.2571 12.0293 17.2571C9.87826 17.2571 8.56786 14.0935 7.79011 10.8571C6.97574 7.46844 6.74534 4 6.74534 4Z"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M17.3132 4C17.3132 4 18.2344 3.01733 19 2.99999C20.5 2.96603 20.7773 4 20.7773 4C21.0709 4.60953 21.3057 6.19429 19.8967 7.65715C18.4876 9.12 16.9103 10.4 16.2684 10.8571"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M6.74527 4.00001C6.74527 4.00001 5.78547 3.00614 4.99995 3.00001C3.49995 2.9883 3.22264 4.00001 3.22264 4.00001C2.92908 4.60953 2.69424 6.19429 4.1033 7.65715C5.51235 9.12001 7.14823 10.4 7.79004 10.8572"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M8.50662 20C8.50662 18.1714 12.0292 17.2571 12.0292 17.2571C12.0292 17.2571 15.5519 18.1714 15.5519 20H8.50662Z"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
                <div
                    class="relative z-20 flex flex-col items-center gap-4 backdrop-blur-sm"
                >
                    <div class="flex flex-col items-center">
                        <div class="text-xl font-semibold">
                            Heaviest Weight (1rm)
                        </div>
                        <div class="text-2xl text-emerald-500">240kg</div>
                    </div>
                    <div class="flex flex-col items-center">
                        <div class="text-xl font-semibold">Most Weight Set</div>
                        <div class="text-2xl text-emerald-500">
                            180kg x 6 Reps
                        </div>
                        <div class="text-sm opacity-50 text-emerald-500">
                            Total Weight: 1080kg
                        </div>
                    </div>
                    <div class="flex flex-col items-center">
                        <div class="text-xl font-semibold">Most Reps Set</div>
                        <div class="text-2xl text-emerald-500">
                            120kg x 8 Reps
                        </div>
                        <div class="text-sm opacity-50 text-emerald-500">
                            Total Weight: 960kg
                        </div>
                    </div>
                    <div class="flex flex-col items-center">
                        <div class="text-xl font-semibold">
                            Most Weight Workout
                        </div>
                        <div class="text-2xl text-emerald-500">
                            4 Sets x 140kg x 5 Reps
                        </div>
                        <div class="text-sm opacity-50 text-emerald-500">
                            Total Weight: 2800kg
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </app-tabs>
</div>
