<div class="flex flex-col gap-4 px-8 py-4">
    <div class="text-4xl font-semibold text-center">Bench Press</div>
    <div
        class="overflow-hidden border-2 border-solid rounded-md border-neutral-900"
    >
        <video
            src="assets/exercisesVideos/00251201-Barbell-Bench-Press-Chest.mp4"
        ></video>
    </div>
    <div class="flex flex-col text-sm opacity-50">
        <div>
            <span class="mr-1 font-semibold">Main muscles:</span>
            <span>Chest</span>
        </div>
        <div>
            <span class="mr-1 font-semibold">Secondary muscles:</span>
            <span>Triceps, Shoulders</span>
        </div>
    </div>
    <app-charts-carousel class="w-full"></app-charts-carousel>
    <app-tabs [tabNames]="['How to', 'History', 'Variations', 'Records']">
        <ng-template #tabContent1>
            <app-instruction
                [stepsSimplified]="stepsSimplified"
                [stepsDetailed]="stepsDetailed"
            ></app-instruction>
        </ng-template>
        <ng-template #tabContent2>
            <div>tab content 2</div>
        </ng-template>
        <ng-template #tabContent3>
            <div>tab content 3</div>
        </ng-template>
        <ng-template #tabContent4>
            <div>tab content 4</div>
        </ng-template>
    </app-tabs>
</div>
