<app-activity-bar [title]="'Achievements'">
    <app-previous-route-button leftSide></app-previous-route-button>
    <div rightSide></div>
</app-activity-bar>

<div class="flex flex-col p-4">
    @if (achievements$ | async; as achievements) {
    <div class="flex flex-col gap-4 mt-2">
        @for (achievement of achievements; track $index) {
        <app-achievement
            [name]="achievement.name"
            [description]="achievement.description"
            [imageUrl]="achievement.imgPreviewUrl"
            [progressCurrent]="70"
            [progressEnd]="500"
        ></app-achievement>
        }
    </div>
    }
</div>
