<div class="flex flex-col p-4">
    <div class="mb-4 text-3xl font-semibold text-center">Your Goals</div>

    <div
        class="relative flex w-full mb-8 bg-opacity-50 rounded-md bg-neutral-900"
    >
        @for (tab of ['current', 'done']; track $index) {
        <button
            type="button"
            (click)="switchTab(tab)"
            #tabButton
            class="relative z-10 w-full p-2 font-semibold text-center rounded-md"
        >
            {{ tab | titlecase }}
        </button>
        }

        <div
            class="absolute top-0 h-full transition-all duration-300 rounded-md bg-emerald-500"
            [ngClass]="{
                'left-0': activeTabName === 'current',
                'left-1/2': activeTabName === 'done',
            }"
            [style]="'width:' + tabWidthPx + 'px;'"
        ></div>
    </div>

    @if (activeTabName === 'current') {
    <button
        type="button"
        (click)="newGoalModalVisibility = true"
        class="fixed z-20 flex items-center p-1 pr-3 transition-all -translate-x-1/2 rounded-full bg-opacity-20 left-1/2 bottom-24 bg-neutral-900 active:scale-95 active:opacity-50 group"
    >
        <svg
            class="w-8 h-8 transition-transform stroke-emerald-500 group-hover:rotate-90"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M6 12H12M18 12H12M12 12V6M12 12V18"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
        </svg>
        <div class="font-semibold text-emerald-500">Add Goal</div>
    </button>
    <!--  -->
    @if (currentGoals.length === 0) {
    <div
        class="absolute z-20 py-20 text-sm font-semibold text-center -translate-x-1/2 opacity-50 left-1/2 -translate-y-3/4 top-1/2 backdrop-blur-lg"
    >
        You haven't set yourself any goals yet!
    </div>
    <div>
        <svg
            class="absolute z-10 -translate-x-1/2 opacity-50 -translate-y-3/4 w-44 h-44 stroke-black top-1/2 dark:stroke-neutral-700 left-1/2"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M6.74534 4H17.3132C17.3132 4 16.4326 17.2571 12.0293 17.2571C9.87826 17.2571 8.56786 14.0935 7.79011 10.8571C6.97574 7.46844 6.74534 4 6.74534 4Z"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
            <path
                d="M17.3132 4C17.3132 4 18.2344 3.01733 19 2.99999C20.5 2.96603 20.7773 4 20.7773 4C21.0709 4.60953 21.3057 6.19429 19.8967 7.65715C18.4876 9.12 16.9103 10.4 16.2684 10.8571"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
            <path
                d="M6.74527 4.00001C6.74527 4.00001 5.78547 3.00614 4.99995 3.00001C3.49995 2.9883 3.22264 4.00001 3.22264 4.00001C2.92908 4.60953 2.69424 6.19429 4.1033 7.65715C5.51235 9.12001 7.14823 10.4 7.79004 10.8572"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
            <path
                d="M8.50662 20C8.50662 18.1714 12.0292 17.2571 12.0292 17.2571C12.0292 17.2571 15.5519 18.1714 15.5519 20H8.50662Z"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
        </svg>
    </div>
    }
    <!--  -->
    @for (currentGoal of currentGoals; track $index) {
    <app-goal></app-goal>
    }
    <!--  -->
    } @else {
    <!--  -->
    @if (doneGoals.length === 0) {
    <div
        class="absolute z-20 py-20 text-sm font-semibold text-center -translate-x-1/2 opacity-50 left-1/2 -translate-y-3/4 top-1/2 backdrop-blur-lg"
    >
        You haven't achieaved any of your goals yet!
    </div>
    <div>
        <svg
            class="absolute z-10 -translate-x-1/2 opacity-50 -translate-y-3/4 w-44 h-44 stroke-black top-1/2 dark:stroke-neutral-700 left-1/2"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M6.74534 4H17.3132C17.3132 4 16.4326 17.2571 12.0293 17.2571C9.87826 17.2571 8.56786 14.0935 7.79011 10.8571C6.97574 7.46844 6.74534 4 6.74534 4Z"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
            <path
                d="M17.3132 4C17.3132 4 18.2344 3.01733 19 2.99999C20.5 2.96603 20.7773 4 20.7773 4C21.0709 4.60953 21.3057 6.19429 19.8967 7.65715C18.4876 9.12 16.9103 10.4 16.2684 10.8571"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
            <path
                d="M6.74527 4.00001C6.74527 4.00001 5.78547 3.00614 4.99995 3.00001C3.49995 2.9883 3.22264 4.00001 3.22264 4.00001C2.92908 4.60953 2.69424 6.19429 4.1033 7.65715C5.51235 9.12001 7.14823 10.4 7.79004 10.8572"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
            <path
                d="M8.50662 20C8.50662 18.1714 12.0292 17.2571 12.0292 17.2571C12.0292 17.2571 15.5519 18.1714 15.5519 20H8.50662Z"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
        </svg>
    </div>
    }
    <!--  -->
    }
</div>

@if (newGoalModalVisibility) {
<!-- eslint-disable-next-line    -->
<div
    @openClose2
    (click)="closeNewGoalModal()"
    class="fixed top-0 left-0 z-40 w-screen h-screen bg-black bg-opacity-80"
></div>

<div
    class="fixed left-0 z-50 flex flex-col items-center w-full h-full gap-1 p-4 transition-all duration-500 pb-96 bg-neutral-950 rounded-t-md"
    @openClose
    [ngClass]="{
        'top-1/2': newGoalModalVisibility,
        'top-full': !newGoalModalVisibility
    }"
>
    <button
        type="button"
        class="flex flex-col items-center gap-1 transition-all active:opacity-50 active:scale-95"
    >
        <div
            class="overflow-hidden border-2 border-solid rounded-full border-emerald-500 min-w-max border-emerald-5000"
        >
            <img
                src="assets/exercisesThumbnails/frame_00_delay-1s.jpg"
                class="w-12 h-12"
                alt=""
            />
        </div>
        <div class="text-2xl font-semibold text-clip text-emerald-500">
            Bench Press
        </div>
    </button>
    <div class="mb-10 text-sm font-semibold">
        <span class="opacity-50"> Your currently estimated 1rm is </span>
        <span class="text-emerald-5003">120kg</span>
    </div>

    <div class="flex flex-col items-center">
        <div class="font-semibold">Enter your goal weight:</div>
        <input
            type="text"
            placeholder="-"
            suffix="kg"
            mask="000"
            class="w-24 p-2 text-2xl font-semibold text-center bg-transparent rounded-md outline-none placeholder-neutral-700"
        />
    </div>
</div>
}

<!--  -->

@if (newGoalModalVisibility) {
<div
    @openClose3
    class="fixed left-0 z-50 w-full p-4 shadow-md rounded-t-md bg-neutral-950"
    [ngClass]="{
        'bottom-0': newGoalModalVisibility,
        '-bottom-full': !newGoalModalVisibility,
    }"
>
    <button
        type="button"
        [disabled]="selectedExercise === null"
        class="py-1.5 font-semibold rounded-md w-full bg-emerald-500 transition-all active:scale-95 active:opacity-50 hover:shadow-[0_0_20px_2px_#10b981] disabled:opacity-50 disabled:cursor-not-allowed disabled:active:scale-100 disabled:hover:shadow-none"
    >
        Add Goal
    </button>
    <button
        type="button"
        (click)="closeNewGoalModal()"
        class="py-1.5 mt-2 font-semibold rounded-md w-full bg-neutral-900 transition-all active:scale-95 active:opacity-50 hover:shadow-[0_0_20px_2px_#171717]"
    >
        Cancel & Close
    </button>
</div>
}
