<app-activity-bar [title]="'Goals'">
    <app-previous-route-button leftSide></app-previous-route-button>
    <button
        type="button"
        rightSide
        (click)="exerciseSelectorModalVisibility = true"
        class="transition-opacity group active:opacity-50"
    >
        <svg
            class="w-8 h-8 -mt-2 transition-colors stroke-white group-hover:stroke-emerald-500"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M6 12H12M18 12H12M12 12V6M12 12V18"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
        </svg>
    </button>
</app-activity-bar>

<div class="flex flex-col p-4">
    @if (doneGoals$ | async; as goals) {
    <ng-container>
        @if (goals.length === 0) {
        <div
            class="absolute z-20 py-20 text-sm font-semibold text-center -translate-x-1/2 opacity-50 left-1/2 -translate-y-3/4 top-1/2 backdrop-blur-lg"
        >
            You haven't set yourself any goals yet!
        </div>
        <div>
            <svg
                class="absolute z-10 -translate-x-1/2 opacity-50 -translate-y-3/4 w-44 h-44 stroke-black top-1/2 dark:stroke-neutral-700 left-1/2"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M6.74534 4H17.3132C17.3132 4 16.4326 17.2571 12.0293 17.2571C9.87826 17.2571 8.56786 14.0935 7.79011 10.8571C6.97574 7.46844 6.74534 4 6.74534 4Z"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M17.3132 4C17.3132 4 18.2344 3.01733 19 2.99999C20.5 2.96603 20.7773 4 20.7773 4C21.0709 4.60953 21.3057 6.19429 19.8967 7.65715C18.4876 9.12 16.9103 10.4 16.2684 10.8571"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M6.74527 4.00001C6.74527 4.00001 5.78547 3.00614 4.99995 3.00001C3.49995 2.9883 3.22264 4.00001 3.22264 4.00001C2.92908 4.60953 2.69424 6.19429 4.1033 7.65715C5.51235 9.12001 7.14823 10.4 7.79004 10.8572"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M8.50662 20C8.50662 18.1714 12.0292 17.2571 12.0292 17.2571C12.0292 17.2571 15.5519 18.1714 15.5519 20H8.50662Z"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
        </div>
        } @else {
        <button
            type="button"
            (click)="ascending = !ascending"
            class="font-semibold mt-1 self-center mb-6 border-neutral-900 border-solid border-2 rounded-md w-full p-2 focus-visible:outline-emerald-500 outline-none outline-offset-0 flex items-center justify-center group"
        >
            <div class="transition-colors group-hover:text-emerald-500">
                {{ ascending ? "Ascending" : "Descending" }}
            </div>

            <svg
                class="w-7 h-7 stroke-white group-hover:stroke-emerald-500 transition-all mt-0.5"
                [ngClass]="{
                    'rotate-180': !ascending
                }"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M6 15L12 9L18 15"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
        </button>

        <!-- prettier-ignore -->
        @for (goal of goals | sortGoalsByPercentages: 'percentageProgress' : ascending; track $index;) {
        <app-goal
            [goal]="goal"
            [optionsVisbility]="goal.percentageProgress === 100 ? false : true"
            [ngClass]="{
                'opacity-25': goal.percentageProgress === 100
            }"
        ></app-goal>
        }
        <!--  -->
        }
    </ng-container>
    } @else {
    <!--  -->
    @for (x of [1,2,3]; track $index) {
    <div class="rounded-md p-1 w-full h-36 flex justify-between">
        <div class="flex flex-col items-center w-1/2 gap-5">
            <div class="flex items-center gap-2">
                <div
                    class="w-10 h-10 rounded-full bg-neutral-900 relative overflow-hidden"
                ></div>
                <div
                    data-placeholder
                    class="w-20 rounded-full h-2 bg-neutral-900 relative overflow-hidden"
                ></div>
            </div>
            <div class="flex-col flex items-center gap-3">
                <div
                    data-placeholder
                    class="w-32 rounded-full h-2 bg-neutral-900 relative overflow-hidden"
                ></div>
                <div
                    data-placeholder
                    class="w-36 rounded-full h-2 bg-neutral-900 relative overflow-hidden"
                ></div>
            </div>
        </div>

        <div class="relative w-1/2 mt-2 size-40">
            <svg
                class="rotate-180 size-full"
                viewBox="0 0 36 36"
                xmlns="http://www.w3.org/2000/svg"
            >
                <circle
                    cx="18"
                    cy="18"
                    r="16"
                    fill="none"
                    class="text-gray-200 stroke-current dark:text-neutral-900"
                    stroke-width="1"
                    stroke-dasharray="50 100"
                    stroke-linecap="round"
                ></circle>

                <circle
                    cx="18"
                    cy="18"
                    r="16"
                    fill="none"
                    class="stroke-current text-neutral-900"
                    stroke-width="1.5"
                    [attr.stroke-dasharray]="100 / 2 + ' 100'"
                    stroke-linecap="round"
                ></circle>
            </svg>

            <div
                class="absolute text-center transform -translate-x-1/2 top-12 start-1/2 flex flex-col gap-2 items-center"
            >
                <div
                    data-placeholder
                    class="w-12 rounded-full h-2 bg-neutral-900 relative overflow-hidden"
                ></div>
                <div
                    data-placeholder
                    class="w-16 rounded-full h-2 bg-neutral-900 relative overflow-hidden"
                ></div>
            </div>
        </div>
    </div>
    }
    <!--  -->
    }
</div>

<app-goals-creator
    (exerciseSelectorModalCloseEvent)="exerciseSelectorModalVisibility = false"
    [exerciseSelectorModalVisibility]="exerciseSelectorModalVisibility"
></app-goals-creator>
