<div class="relative w-full">
    <button type="button" (click)="removeSubstep()">
        <svg
            class="absolute w-4 h-4 transition-all mt-0.5 -translate-y-1/2 -left-4 top-1/2 stroke-neutral-700 hover:stroke-red-500 active:opacity-50 active:scale-95"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M6.75827 17.2426L12.0009 12M17.2435 6.75736L12.0009 12M12.0009 12L6.75827 6.75736M12.0009 12L17.2435 17.2426"
                stroke-width="2.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
        </svg>
    </button>
    <input
        type="text"
        [formControl]="subStep"
        class="w-full bg-transparent outline-none text-wrap"
    />
</div>
