@if (workoutData$ | async; as workoutData) {
<div class="flex flex-col items-center gap-4 p-4">
    <button
        type="button"
        (click)="optionsModalVisibility = true"
        class="absolute top-5 right-2"
    >
        <svg
            class="w-8 h-8 transition-all stroke-white fill-white hover:stroke-emerald-500 hover:fill-emerald-500 active:opacity-50 active:scale-95"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M12 12.5C12.2761 12.5 12.5 12.2761 12.5 12C12.5 11.7239 12.2761 11.5 12 11.5C11.7239 11.5 11.5 11.7239 11.5 12C11.5 12.2761 11.7239 12.5 12 12.5Z"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
            <path
                d="M12 18.5C12.2761 18.5 12.5 18.2761 12.5 18C12.5 17.7239 12.2761 17.5 12 17.5C11.7239 17.5 11.5 17.7239 11.5 18C11.5 18.2761 11.7239 18.5 12 18.5Z"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
            <path
                d="M12 6.5C12.2761 6.5 12.5 6.27614 12.5 6C12.5 5.72386 12.2761 5.5 12 5.5C11.7239 5.5 11.5 5.72386 11.5 6C11.5 6.27614 11.7239 6.5 12 6.5Z"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
        </svg>
    </button>

    <div class="flex flex-col items-center gap-1">
        <div class="text-3xl font-semibold">{{ workoutData.name }}</div>
        <div class="flex items-center gap-1.5">
            <div class="opacity-50">Created by:</div>

            <a class="flex items-center gap-1 cursor-pointer">
                <div
                    class="border-2 shadow-[0_0_5px_1px_#10b981] border-solid rounded-full border-emerald-500 overflow-hidden mt-0.5"
                >
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHlY7jda7OEmJpPl0ga2UpDzFX8iE9OyVWICN1Qtefc0EWL9NqvlpI1gxKL4dTHTAuk_U&usqp=CAU"
                        class="w-4 h-4"
                        alt=""
                    />
                </div>

                <div class="opacity-50">Albert</div>
            </a>
        </div>
    </div>

    <button
        type="button"
        (click)="startWorkout()"
        class="w-full py-2 overflow-hidden font-semibold rounded-md bg-emerald-500 hover:shadow-[0_0_20px_2px_#10b981] transition-all hover:border-transparent active:scale-95 active:opacity-50"
    >
        Start Workout
    </button>

    <div class="w-full">
        <app-charts-carousel></app-charts-carousel>
    </div>

    <div class="flex flex-col self-start w-full gap-4">
        @for (exercise of workoutData.exercises; track $index) {
        <div class="flex flex-col gap-1">
            <a class="flex items-center gap-2">
                <div
                    class="overflow-hidden border-2 border-solid rounded-full min-w-max border-emerald-500"
                >
                    <img
                        [src]="exercise.imageUrl"
                        class="w-10 h-10"
                        [alt]="exercise.name + ' image'"
                    />
                </div>
                <div class="text-xl font-semibold text-emerald-500">
                    {{ exercise.name }}
                </div>
            </a>
            <div
                class="grid grid-cols-5 font-semibold opacity-50 justify-items-center"
            >
                <div>Set</div>
                <div>Type</div>
                <div>Kg</div>
                <div>Reps</div>
                <div>Rpe</div>
            </div>
            <div class="flex flex-col text-lg">
                @for (set of exercise.sets; track $index) {
                <div
                    class="grid grid-cols-5 py-2 rounded-md justify-items-center gap-y-3"
                    [ngClass]="{
                        'bg-neutral-900': $index % 2 === 0,
                        'bg-opacity-50': $index % 2 === 0
                    }"
                >
                    <div>{{ set.setNumber }}</div>

                    <div>{{ set.setTypeName[0] | titlecase }}</div>

                    <div>
                        {{ set.weight || "-" }}
                    </div>

                    <div>
                        {{ set.reps || "-" }}
                    </div>

                    <div>
                        {{ set.rpe || "-" }}
                    </div>

                    <!-- TEMPO -->
                    @if (set.setTypeName === 'tempo') {
                    <div class="grid w-full grid-cols-5 col-span-5 py-1">
                        <div class="col-span-2 place-self-center">Tempo:</div>
                        <div
                            class="col-span-3 text-xl text-center select-none place-self-center"
                        >
                            <span>
                                {{ set.tempo?.eccentricPhaseLength || "x" }}
                            </span>
                            <span> - </span>
                            <span>
                                {{ set.tempo?.isometricPhaseOneLength || "x" }}
                            </span>
                            <span> - </span>
                            <span>
                                {{ set.tempo?.concentricPhaseLength || "x" }}
                            </span>
                            <span> - </span>
                            <span>
                                {{ set.tempo?.isometricPhaseTwoLength || "x" }}
                            </span>
                        </div>
                    </div>
                    }

                    <!-- DROPSET(s) -->
                    <!-- prettier-ignore -->
                    @if (set.setTypeName === 'drop') {
                    @for (dropset of set.dropsets; track $index) {
                    <div class="grid w-full grid-cols-5 col-span-5 py-1">
                        <div class="col-span-2 text-nowrap place-self-center">
                            Drop {{ $index + 1 }}:
                        </div>
                        <div class="place-self-center">
                            {{ dropset.weight || "-" }}
                        </div>
                        <div class="place-self-center">
                            {{ dropset.reps || "-" }}
                        </div>
                        <div class="place-self-center">
                            {{ dropset.rpe || "-" }}
                        </div>
                    </div>
                    } }

                    <!-- CLUSTERSET(s) -->
                    <!-- prettier-ignore -->
                    @if (set.setTypeName === 'cluster') {
                    @for (clusterset of set.clustersets; track $index) {
                    <div class="grid w-full grid-cols-5 col-span-5 py-1">
                        <div class="col-span-2 text-nowrap place-self-center">
                            Rest Time:
                        </div>
                        <div class="place-self-center">
                            {{ clusterset.restTime || "-" }}
                        </div>
                        <div class="place-self-center">
                            {{ clusterset.reps || "-" }}
                        </div>
                        <div class="place-self-center">
                            {{ clusterset.rpe || "-" }}
                        </div>
                    </div>
                    } }
                </div>
                }
            </div>
        </div>
        }
    </div>
</div>

<!--  -->
@if (optionsModalVisibility) {
<!-- eslint-disable-next-line    -->
<div
    @openClose2
    (click)="optionsModalVisibility = false"
    class="fixed top-0 left-0 z-40 w-screen h-screen bg-black bg-opacity-80"
></div>

<div
    @openClose
    class="fixed left-0 z-50 flex flex-col items-center w-full h-full gap-3 p-4 text-lg rounded-t-md bg-neutral-950"
    [ngClass]="{
        'top-1/2': optionsModalVisibility,
        'top-full': !optionsModalVisibility
    }"
>
    <div class="self-center font-semibold text-center">
        Choose action for
        <span class="text-emerald-500">{{ workoutData.name }}</span> workout:
    </div>

    <div class="flex flex-col w-full gap-1">
        <button
            type="button"
            class="flex items-center gap-2 p-2 transition-all rounded-md active:opacity-50 active:scale-95 hover:bg-neutral-900 group"
        >
            <div class="mt-1 overflow-hidden rounded-full">
                <svg
                    class="w-5 h-5 stroke-white"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M13.0207 5.82839L15.8491 2.99996L20.7988 7.94971L17.9704 10.7781M13.0207 5.82839L3.41405 15.435C3.22652 15.6225 3.12116 15.8769 3.12116 16.1421V20.6776H7.65669C7.92191 20.6776 8.17626 20.5723 8.3638 20.3847L17.9704 10.7781M13.0207 5.82839L17.9704 10.7781"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
            </div>
            <div class="font-semibold text-white">Edit</div>
        </button>

        <button
            type="button"
            class="flex items-center gap-2 p-2 transition-all rounded-md active:opacity-50 active:scale-95 hover:bg-neutral-900 group"
        >
            <div class="mt-0.5 overflow-hidden rounded-full">
                <svg
                    class="w-5 h-5 stroke-white"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M20 13V19C20 20.1046 19.1046 21 18 21H6C4.89543 21 4 20.1046 4 19V13"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M12 15V3M12 3L8.5 6.5M12 3L15.5 6.5"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
            </div>
            <div class="font-semibold text-white">Share</div>
        </button>

        <button
            type="button"
            class="flex items-center gap-2 p-2 transition-all rounded-md active:opacity-50 active:scale-95 hover:bg-neutral-900 group"
        >
            <div class="mt-1 overflow-hidden rounded-full">
                <svg
                    class="w-5 h-5 stroke-red-500"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M19 11V20.4C19 20.7314 18.7314 21 18.4 21H5.6C5.26863 21 5 20.7314 5 20.4V11"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M10 17V11"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M14 17V11"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M21 7L16 7M3 7L8 7M8 7V3.6C8 3.26863 8.26863 3 8.6 3L15.4 3C15.7314 3 16 3.26863 16 3.6V7M8 7L16 7"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
            </div>
            <div class="font-semibold text-red-500 mt-0.5">Delete Workout</div>
        </button>
    </div>
</div>
}

<!--  -->
@if (optionsModalVisibility) {
<div
    @openClose3
    class="fixed left-0 z-50 w-full p-4 shadow-md rounded-t-md"
    [ngClass]="{
        'bottom-0': optionsModalVisibility,
        '-bottom-full': !optionsModalVisibility,
    }"
>
    <button
        type="button"
        (click)="optionsModalVisibility = false"
        class="py-1.5 text-lg mt-2 font-semibold rounded-md w-full bg-neutral-900 transition-all active:scale-95 active:opacity-50 hover:shadow-[0_0_20px_2px_#171717] disabled:opacity-50 disabled:cursor-not-allowed disabled:active:scale-100 disabled:hover:shadow-none"
    >
        Close
    </button>
</div>
} }
