@if (workoutData$ | async; as workoutData) {
<div class="flex flex-col items-center gap-4 p-4">
    <div class="flex flex-col items-center gap-1">
        <div class="text-3xl font-semibold">{{ workoutData.name }}</div>
        <div class="flex items-center gap-1.5">
            <div class="opacity-50">Created by:</div>

            <a class="flex items-center gap-1 cursor-pointer">
                <div
                    class="border-2 shadow-[0_0_5px_1px_#10b981] border-solid rounded-full border-emerald-500 overflow-hidden mt-0.5"
                >
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHlY7jda7OEmJpPl0ga2UpDzFX8iE9OyVWICN1Qtefc0EWL9NqvlpI1gxKL4dTHTAuk_U&usqp=CAU"
                        class="w-4 h-4"
                        alt=""
                    />
                </div>

                <div class="opacity-50">Albert</div>
            </a>
        </div>
    </div>

    <div class="w-full">
        <app-charts-carousel></app-charts-carousel>
    </div>

    <div class="flex flex-col self-start w-full gap-4">
        @for (exercise of workoutData.exercises; track $index) {
        <div class="flex flex-col gap-1">
            <a class="flex items-center gap-2">
                <div
                    class="overflow-hidden border-2 border-solid rounded-full min-w-max border-emerald-500"
                >
                    <img
                        src="https://www.kettlebellkings.com/cdn/shop/articles/barbell-deadlift-movement.gif?v=1692228918"
                        class="w-10 h-10"
                        alt=""
                    />
                </div>
                <div class="text-xl font-semibold text-emerald-500">
                    Deadlift (Barbell)
                </div>
            </a>
            <div
                class="grid grid-cols-5 font-semibold opacity-50 justify-items-center"
            >
                <div>Set</div>
                <div>Type</div>
                <div>Kg</div>
                <div>Reps</div>
                <div>Rpe</div>
            </div>
            <div class="flex flex-col text-lg">
                @for (set of exercise.sets; track $index) {
                <div
                    class="grid grid-cols-5 py-2 rounded-md justify-items-center gap-y-3"
                    [ngClass]="{
                        'bg-neutral-900': $index % 2 === 0,
                        'bg-opacity-50': $index % 2 === 0
                    }"
                >
                    <div>{{ set.setNumber }}</div>

                    <div>{{ set.setTypeName[0] | titlecase }}</div>

                    <div>
                        {{ set.weight || "-" }}
                    </div>

                    <div>
                        {{ set.reps || "-" }}
                    </div>

                    <div>
                        {{ set.rpe || "-" }}
                    </div>

                    <!-- DROPSET(s) -->
                    <!-- prettier-ignore -->
                    @if (set.setTypeName === 'drop') {
                    @for (dropset of set.dropsets; track $index) {
                    <div class="grid w-full grid-cols-5 col-span-5 py-1">
                        <div class="col-span-2 text-nowrap place-self-center">
                            Drop {{ $index + 1 }}:
                        </div>
                        <div class="place-self-center">
                            {{ dropset.weight || "-" }}
                        </div>
                        <div class="place-self-center">
                            {{ dropset.reps || "-" }}
                        </div>
                        <div class="place-self-center">
                            {{ dropset.rpe || "-" }}
                        </div>
                    </div>
                    } }

                    <!-- CLUSTERSET(s) -->
                    <!-- prettier-ignore -->
                    @if (set.setTypeName === 'cluster') {
                    @for (clusterset of set.clustersets; track $index) {
                    <div class="grid w-full grid-cols-5 col-span-5 py-1">
                        <div class="col-span-2 text-nowrap place-self-center">
                            Rest Time:
                        </div>
                        <div class="place-self-center">
                            {{ clusterset.restTime || "-" }}
                        </div>
                        <div class="place-self-center">
                            {{ clusterset.reps || "-" }}
                        </div>
                        <div class="place-self-center">
                            {{ clusterset.rpe || "-" }}
                        </div>
                    </div>
                    } }
                </div>
                }
            </div>
        </div>
        }
    </div>
</div>
}
