<div class="flex flex-col items-center gap-4 p-8">
    <div class="flex flex-col items-center gap-1">
        <div class="text-3xl font-semibold">Chest / Back</div>
        <div class="flex items-center gap-1.5">
            <div class="opacity-50">Created by:</div>

            <a class="flex items-center gap-1 cursor-pointer">
                <div
                    class="border-2 shadow-[0_0_5px_1px_#10b981] border-solid rounded-full border-emerald-500 overflow-hidden mt-0.5"
                >
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHlY7jda7OEmJpPl0ga2UpDzFX8iE9OyVWICN1Qtefc0EWL9NqvlpI1gxKL4dTHTAuk_U&usqp=CAU"
                        class="w-4 h-4"
                        alt=""
                    />
                </div>

                <div class="opacity-50">Albert</div>
            </a>
        </div>
    </div>
</div>
