<div class="relative flex flex-col gap-4">
    <div class="flex justify-between w-full font-semibold">
        @for (tabName of tabNames; track $index) {
        <button
            type="button"
            #tabButton
            (click)="tabChange($index)"
            [ngClass]="{
                'text-emerald-500 transition-colors': $index === activeTabIndex
            }"
        >
            {{ tabName }}
        </button>
        }
    </div>
    <div
        class="h-0.5 bg-emerald-500 rounded-full absolute transition-all top-6 duration-300"
        [style]="
            'left:' + leftDistancePx + 'px; width:' + underlineWidthPx + 'px'
        "
    ></div>
    <div>
        <!-- <ng-content></ng-content> -->
        @if (activeTabContent) {
        <ng-container>
            <ng-container *ngTemplateOutlet="activeTabContent"></ng-container>
        </ng-container>
        }
    </div>
</div>
