<div class="relative w-full">
    <input
        #inputElement
        required
        [type]="type"
        [id]="id"
        [mask]="inputMask"
        [formControl]="formControlInput"
        class="w-full p-2 pt-3 bg-transparent border-2 border-transparent border-solid rounded-t-md focus:border-emerald-500 focus:outline-none focus:rounded-b-md valid:border-emerald-500 valid:outline-none valid:rounded-b-md valid:backdrop-blur-md border-b-emerald-500 peer"
    />

    <!-- eslint-disable-next-line -->
    <span
        (click)="focusOnInput()"
        class="absolute transition-all -translate-y-1/2 border-transparent border-solid opacity-50 select-none dark:opacity-25 cursor-text border-x-2 left-2 top-1/2 peer-focus:top-0 peer-focus:bg-neutral-200 peer-focus:dark:bg-neutral-950 peer-focus:px-2 peer-focus:opacity-100 peer-valid:top-0 peer-valid:bg-neutral-200 peer-valid:dark:bg-neutral-950 peer-valid:px-2 peer-valid:opacity-100 peer-focus:text-emerald-500 peer-valid:text-emerald-500 peer-focus:border-x-2 peer-focus:border-solid peer-focus:border-emerald-500 peer-focus:text-sm peer-valid:text-sm peer-focus:left-3 peer-valid:left-3"
    >
        {{ label }}
    </span>
</div>

<!-- prettier-ignore -->
@if (
    formControlInput.touched &&
    formControlInput.dirty &&
    formControlInput.errors
    )
{
<div class="mt-1 text-sm text-red-600">
    <!-- prettier-ignore -->
    @if (formControlInput.errors['required']) {
    Field required
    }

    @if (formControlInput.errors['email']) {
    Wrong e-mail format
    }

    @if (formControlInput.value.length > 0) {
    <!-- prettier-ignore -->
    @if (formControlInput.errors['uppercaseLetterMissing']) {
            Add at least 1 uppercase letter.
        }

        @if (formControlInput.errors['lowercaseLetterMissing']) {
            Add at least 1 lowercase letter.
        }

        @if (formControlInput.errors['numberMissing']) {
            Add at least 1 number.
        }

        @if (formControlInput.errors['symbolMissing']) {
            Add at least 1 symbol.
        }

        @if (formControlInput.errors['passwordTooShort']) {
            8 characters minimum.
        }

        @if (formControlInput.errors['passwordsDoNotMatch']) {
            Passwords are not the same.
        }
    }
</div>
}
