<div class="relative flex flex-col gap-1">
    <div
        class="relative flex p-2 overflow-hidden border-2 border-solid rounded-md h-44 border-neutral-900"
    >
        @for (item of carouselItems; track $index) {
        <img
            [src]="carouselItems[$index]"
            class="absolute top-0 left-0 transition-transform duration-500 ease-out h-44 w-80"
            [style]="
                'transform: translateX(' + 100 * ($index - activeIndex) + '%)'
            "
            alt=""
        />
        }
    </div>

    <button
        type="button"
        (click)="previous()"
        class="absolute -translate-y-1/2 -left-6 top-1/2 group"
    >
        <svg
            class="w-6 h-6 transition-all stroke-black dark:stroke-white group-hover:stroke-emerald-500 active:opacity-50 active:scale-95"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M15 6L9 12L15 18"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
        </svg>
    </button>

    <button
        type="button"
        (click)="next()"
        class="absolute -translate-y-1/2 -right-6 top-1/2 group"
    >
        <svg
            class="w-6 h-6 transition-all stroke-black dark:stroke-white group-hover:stroke-emerald-500 active:opacity-50 active:scale-95"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M9 6L15 12L9 18"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
        </svg>
    </button>

    <div class="flex justify-center gap-2">
        @for (button of carouselItems; track $index) {
        <!-- eslint-disable-next-line -->
        <button
            type="button"
            class="w-5 h-1 transition-all duration-500 rounded-md bg-emerald-500 active:opacity-50 active:scale-95"
            [ngClass]="{ 'bg-emerald-500': $index === activeIndex,  'bg-neutral-900': $index !== activeIndex,}"
            (click)="changeSlide($index)"
        ></button>
        }
    </div>
</div>
