.cdk-drag-preview {
    /* border-color: rgb(16 185 129);
    border-style: solid;
    border-width: 2px;
    background-color: rgb(10 10 10);
    color: white; */

    background-color: #171717;
    color: white;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* .example-box:last-child {
    border: none;
} */

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* .example-custom-placeholder {
    background: #ccc;
    border: dotted 3px #999;
    min-height: 60px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
} */

.golden-text-shadow:hover {
    text-shadow: 0 0 30px #eab308, 0 0 10px #eab308;
}

.golden-text-shadow {
    text-shadow: 0 0 20px #eab308, 0 0 5px #eab308;
}
