<div class="flex flex-col items-center justify-center gap-2 p-8 text-center">
    <div class="self-start text-4xl font-semibold text-emerald-500">
        Quick access
    </div>
    <div class="flex flex-col w-full gap-2 mb-4">
        <a
            class="w-full p-3 font-semibold border-2 border-solid rounded-md hover:shadow-[0_0_20px_2px_#10b981] transition-all text-center cursor-pointer px-6 border-neutral-900 hover:border-emerald-600 group active:opacity-50 active:scale-95 dark:bg-neutral-950"
        >
            Workout Builder
        </a>
        <a
            class="w-full p-3 font-semibold border-2 border-solid rounded-md hover:shadow-[0_0_20px_2px_#10b981] transition-all text-center cursor-pointer px-6 border-neutral-900 hover:border-emerald-600 group active:opacity-50 active:scale-95 dark:bg-neutral-950"
        >
            Start empty workout
        </a>
        <a
            class="w-full p-3 font-semibold border-2 border-solid rounded-md hover:shadow-[0_0_20px_2px_#10b981] transition-all text-center cursor-pointer px-6 border-neutral-900 hover:border-emerald-600 group active:opacity-50 active:scale-95 dark:bg-neutral-950"
        >
            New workout split
        </a>
    </div>

    <div class="self-start text-4xl font-semibold text-emerald-500">
        Your Workouts
    </div>

    <div class="flex flex-col w-full gap-1">
        <app-workout-split
            [workoutsNames]="[
                'Chest / Back',
                'Arms / Shoulders',
                'Legs / Neck'
            ]"
        ></app-workout-split>
    </div>
</div>
