<a
    [routerLink]="link"
    class="flex items-center gap-2 rounded-md border-transparent bg-neutral-900 bg-opacity-25 w-full border-solid border-2 p-3 focus-visible:border-emerald-500 relative active:opacity-50 transition-all group outline-none"
>
    <ng-content></ng-content>

    <div
        class="font-semibold text-xl group-hover:text-emerald-500 transition-colors"
    >
        {{ name }}
    </div>

    <svg
        class="stroke-transparent group-hover:stroke-emerald-500 absolute right-6 scale-0 group-hover:scale-100 group-hover:right-0 transition-all top-1/2 -translate-y-1/2 w-11 h-11"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M9 6L15 12L9 18"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
        />
    </svg>
</a>
