<app-activity-bar [title]="'Achievements Manager'">
    <app-previous-route-button leftSide></app-previous-route-button>
    <a
        routerLink="new"
        class="transition-opacity group active:opacity-50"
        rightSide
    >
        <svg
            class="w-8 h-8 -mt-2 transition-colors stroke-white group-hover:stroke-emerald-500"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M6 12H12M18 12H12M12 12V6M12 12V18"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
        </svg>
    </a>
</app-activity-bar>

@if (achievements$ | async; as achievements) {
<div class="flex flex-col gap-2 p-4">
    @for (achievement of achievements; track $index) {
    <button
        type="button"
        class="flex items-center flex-col p-1.5 transition-all rounded-md active:opacity-50 gap-1 hover:bg-neutral-900"
    >
        <div
            class="overflow-hidden border-2 border-solid rounded-full min-w-max border-emerald-500"
        >
            <img
                [src]="achievement.imgPreviewUrl"
                class="w-12 h-12 bg-neutral-950"
                [alt]="achievement.name + ' badge'"
            />
        </div>

        <div class="font-semibold text-lg">
            {{ achievement.name }}
        </div>
        <div class="text-sm font-semibold text-neutral-700 mt-0.5">
            {{ achievement.description }}
        </div>
    </button>
    }
</div>
}
