<app-activity-bar [title]="'Achievements Manager'">
    <app-previous-route-button leftSide></app-previous-route-button>
    <a
        routerLink="new"
        class="transition-opacity group active:opacity-50"
        rightSide
    >
        <svg
            class="w-8 h-8 -mt-2 transition-colors stroke-white group-hover:stroke-emerald-500"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M6 12H12M18 12H12M12 12V6M12 12V18"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
        </svg>
    </a>
</app-activity-bar>

@if (achievements$ | async; as achievements) {
<div class="flex flex-col gap-0.5 p-4">
    @for (achievement of achievements; track $index) {
    <button
        type="button"
        (click)="redirectToAchievementRoute(achievement)"
        class="flex items-center p-1.5 transition-all rounded-md active:opacity-50 justify-between hover:bg-neutral-900 group"
    >
        <div class="flex items-center gap-2">
            <div
                class="overflow-hidden border-2 border-solid rounded-full min-w-max border-emerald-500"
            >
                <img
                    [src]="achievement.imgPreviewUrl"
                    class="w-10 h-10 bg-neutral-950"
                    [alt]="achievement.name + ' badge'"
                />
            </div>

            <div class="font-semibold">
                {{ achievement.name }}
            </div>
        </div>

        <svg
            class="w-6 h-6 transition-colors stroke-transparent group-hover:stroke-white"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M9 6L15 12L9 18"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
        </svg>
    </button>
    }
</div>
}
