<!-- eslint-disable @angular-eslint/template/elements-content -->
@if (loading) {
<app-loading-spinner></app-loading-spinner>
}

<form [formGroup]="workoutForm" class="flex flex-col items-center gap-4 p-4">
    @if (editView === 'new' || editView === 'existing') {
    <app-name-editor
        [title]="workoutName"
        class="w-full px-1"
    ></app-name-editor>
    } @else {
    <div class="flex flex-col items-center w-full gap-2">
        <div class="text-3xl font-semibold text-emerald-500">
            {{ workoutName.value }}
        </div>
        <div class="flex self-start justify-around w-full gap-0.5">
            <button
                type="button"
                (click)="workoutDurationModalVisibility = true"
                class="flex flex-col items-center transition-all group active:opacity-50 active:scale-95"
            >
                <div class="transition-colors group-hover:text-emerald-500">
                    Duration:
                </div>
                <div
                    class="font-semibold transition-colors group-hover:text-emerald-500"
                >
                    {{ workoutDuration | timeFormatter }}
                </div>
            </button>
            <div class="flex flex-col items-center">
                <div>Total weight:</div>
                <div class="font-semibold">
                    {{ workoutComputedValues.controls.volume.value }}kg
                </div>
            </div>
            <div class="flex flex-col items-center">
                <div>Sets done:</div>
                <div class="font-semibold">
                    {{ workoutComputedValues.controls.setsDone.value }}/{{
                        totalSets
                    }}
                </div>
            </div>
        </div>
    </div>
    }

    <div class="flex flex-col w-full gap-2">
        @for (exercise of workoutExercises.controls; track $index) {
        <app-exercise-edit-mode
            [editView]="editView"
            [exercise]="exercise"
            [exercisesAmount]="workoutExercises.value.length"
            [workoutComputedValues]="workoutComputedValues"
            (addSupersetEvent)="initalizeSupersetModal($event)"
            (removeSupersetEvent)="removeFromSuperset($event)"
            (exercisesRemoveEvent)="removeExercise($event)"
            (exercisesReorderEvent)="exercisesReorderModalVisibility = true"
            [exerciseName]="exercisesPresentionalData[$index].name"
            [exerciseImgUrl]="exercisesPresentionalData[$index].imageUrl"
            [exerciseId]="exercise.value.exerciseId"
            [exerciseIndex]="$index"
        ></app-exercise-edit-mode>
        }

        <div class="flex flex-col gap-2">
            <app-exercises-selector
                [selectedExercisesIds]="selectedExercisesIds"
                (exercisesSelectEvent)="addExercises($event)"
            ></app-exercises-selector>
            <div class="flex gap-2">
                <button
                    type="button"
                    (click)="cancelEdit()"
                    class="w-full py-2 overflow-hidden font-semibold rounded-md bg-red-500 hover:shadow-[0_0_20px_2px_#ef4444] transition-all hover:border-transparent active:scale-95 active:opacity-50 text-lg"
                >
                    Cancel
                </button>
                <button
                    type="submit"
                    (click)="saveWorkout()"
                    class="w-full py-2 overflow-hidden font-semibold rounded-md bg-emerald-500 hover:shadow-[0_0_20px_2px_#10b981] transition-all hover:border-transparent active:scale-95 active:opacity-50 text-lg"
                >
                    {{
                        editView === "new" || editView === "existing"
                            ? "Save"
                            : "Finish"
                    }}
                </button>
            </div>
        </div>
    </div>

    @if (workoutExercises.controls.length === 0 && !loading) {
    <div
        class="absolute z-20 w-full px-8 py-20 text-sm font-semibold text-center -translate-y-1/2 opacity-50 top-1/2 backdrop-blur-lg"
    >
        Nothing here yet! <br />
        Click the button above to add some exercises.
    </div>
    <div>
        <svg
            class="absolute z-10 rotate-45 -translate-x-1/2 -translate-y-1/2 opacity-50 w-44 h-44 stroke-black top-1/2 dark:stroke-neutral-700 left-1/2"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M7.4 7H4.6C4.26863 7 4 7.26863 4 7.6V16.4C4 16.7314 4.26863 17 4.6 17H7.4C7.73137 17 8 16.7314 8 16.4V7.6C8 7.26863 7.73137 7 7.4 7Z"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
            <path
                d="M19.4 7H16.6C16.2686 7 16 7.26863 16 7.6V16.4C16 16.7314 16.2686 17 16.6 17H19.4C19.7314 17 20 16.7314 20 16.4V7.6C20 7.26863 19.7314 7 19.4 7Z"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
            <path
                d="M1 14.4V9.6C1 9.26863 1.26863 9 1.6 9H3.4C3.73137 9 4 9.26863 4 9.6V14.4C4 14.7314 3.73137 15 3.4 15H1.6C1.26863 15 1 14.7314 1 14.4Z"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
            <path
                d="M23 14.4V9.6C23 9.26863 22.7314 9 22.4 9H20.6C20.2686 9 20 9.26863 20 9.6V14.4C20 14.7314 20.2686 15 20.6 15H22.4C22.7314 15 23 14.7314 23 14.4Z"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
            <path
                d="M8 12H16"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
        </svg>
    </div>
    }
</form>

<!-- indent -->

@if (exercisesReorderModalVisibility) {
<!-- eslint-disable-next-line -->
<div
    @openClose2
    (click)="exercisesReorderModalVisibility = false"
    class="fixed top-0 left-0 z-40 w-screen h-screen bg-black bg-opacity-80"
></div>

<div
    @openClose
    class="fixed left-0 z-50 flex flex-col items-center w-full h-full gap-2 px-3 py-4 text-lg rounded-t-md bg-neutral-950"
    [ngClass]="{
        'top-0': exercisesReorderModalVisibility,
        'top-full': !exercisesReorderModalVisibility
    }"
>
    <div class="font-semibold">Change exercises order:</div>

    <div
        cdkDropList
        [cdkDropListData]="exercisesPresentionalData"
        (cdkDropListDropped)="changeExercisesOrder($event)"
        class="flex flex-col w-full gap-1 boundary example-list"
    >
        @for (exercise of exercisesPresentionalData; track $index) {
        <div
            cdkDrag
            cdkDragLockAxis="y"
            cdkDragBoundary=".boundary"
            class="flex items-center justify-between w-full p-1.5 rounded-md cursor-move example-box"
        >
            <div class="flex items-center gap-2">
                <div
                    class="overflow-hidden border-2 border-solid rounded-full min-w-max border-emerald-500"
                >
                    <img
                        [src]="exercise.imageUrl"
                        class="w-10 h-10"
                        [alt]="exercise.name + 'photo'"
                    />
                </div>
                <div class="text-xl font-semibold select-none text-emerald-500">
                    {{ exercise.name }}
                </div>
            </div>

            <svg
                class="w-6 h-6 stroke-white mt-0.5"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M3 5H21"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M3 12H21"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M3 19H21"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
        </div>
        }
    </div>
</div>
}

<!-- indent -->

@if (exercisesReorderModalVisibility) {
<div
    @openClose3
    class="fixed left-0 z-50 w-full p-4 shadow-md rounded-t-md"
    [ngClass]="{
        'bottom-0': exercisesReorderModalVisibility,
        '-bottom-full': !exercisesReorderModalVisibility,
    }"
>
    <button
        type="button"
        (click)="exercisesReorderModalVisibility = false"
        class="py-1.5 font-semibold rounded-md w-full bg-emerald-500 transition-all active:scale-95 active:opacity-50 hover:shadow-[0_0_20px_2px_#10b981] disabled:opacity-50 disabled:cursor-not-allowed disabled:active:scale-100 disabled:hover:shadow-none"
    >
        Ok
    </button>
</div>
}

<!-- indent -->

@if (supersetModalVisibility) {
<!-- eslint-disable-next-line -->
<div
    @openClose2
    (click)="supersetModalVisibility = false"
    class="fixed top-0 left-0 z-40 w-screen h-screen bg-black bg-opacity-80"
></div>

<div
    @openClose
    class="fixed left-0 z-50 flex flex-col items-center w-full h-full gap-2 px-3 py-4 text-lg rounded-t-md bg-neutral-950"
    [ngClass]="{
        'top-0': supersetModalVisibility,
        'top-full': !supersetModalVisibility
    }"
>
    <div class="font-semibold text-center">
        Choose exercise(s) to superset with
        <span class="text-emerald-500">{{ supersetedExerciseName }}:</span>
    </div>

    <div class="flex flex-col w-full gap-1 boundary example-list">
        @for (exercise of exercisesPresentionalData; track $index) {
        <!-- prettier-ignore -->
        @if (exercise.name !== supersetedExerciseName) {
        <button
            type="button"
            (click)="addToSuperset($index)"
            class="flex items-center justify-between w-full p-1.5 rounded-md transition-all active:scale-95 active:opacity-50 hover:bg-neutral-900"
        >
            <div class="flex items-center gap-2">
                <div
                    class="overflow-hidden border-2 border-solid rounded-full min-w-max border-emerald-500"
                >
                    <img
                        [src]="exercise.imageUrl"
                        class="w-10 h-10"
                        [alt]="exercise.name + 'photo'"
                    />
                </div>
                <div class="text-xl font-semibold select-none text-emerald-500">
                    {{ exercise.name }}
                </div>
            </div>

            @if (getSupersetColor($index) !== null) {
            <div
                class="p-1 text-xs font-semibold rounded-md"
                [class]="getSupersetColor($index)"
            >
                Superset
            </div>
            }
        </button>
        } }
    </div>
</div>
}

<!-- indent -->

@if (supersetModalVisibility) {
<div
    @openClose3
    class="fixed left-0 z-50 w-full p-4 shadow-md rounded-t-md"
    [ngClass]="{
        'bottom-0': supersetModalVisibility,
        '-bottom-full': !supersetModalVisibility,
    }"
>
    <button
        type="button"
        (click)="supersetModalVisibility = false"
        class="py-1.5 font-semibold rounded-md w-full bg-neutral-900 transition-all active:scale-95 active:opacity-50 hover:shadow-[0_0_20px_2px_#171717]"
    >
        Close
    </button>
</div>
}

<!-- indent -->

@if (supersetColorPickerModalVisibility) {
<!-- eslint-disable-next-line -->
<div
    @openClose2
    (click)="supersetColorPickerModalVisibility = false"
    class="fixed top-0 left-0 w-screen h-screen bg-black bg-opacity-80"
    style="z-index: 50"
></div>

<div
    @openClose4
    class="fixed left-0 flex flex-col items-center w-full h-full gap-16 px-3 py-4 text-lg rounded-t-md bg-neutral-950"
    style="z-index: 60"
    [ngClass]="{
        'top-1/2': supersetColorPickerModalVisibility,
        'top-full': !supersetColorPickerModalVisibility
    }"
>
    <div class="font-semibold text-center">Pick a color to mark superset:</div>
    <div class="grid grid-cols-4 gap-3">
        @for ( color of colors; track $index ) {
        <button
            type="button"
            (click)="addNewSuperset(color)"
            class="col-span-1 transition-all rounded-md cursor-pointer w-11 h-11 active:opacity-50 active:scale-95 hover:scale-105"
            [class]="color"
        ></button>
        }
    </div>
</div>
}

<!-- indent -->

@if (supersetColorPickerModalVisibility) {
<div
    @openClose3
    class="fixed left-0 flex flex-col w-full gap-2 p-4 shadow-md rounded-t-md"
    style="z-index: 60"
    [ngClass]="{
        'bottom-0': supersetColorPickerModalVisibility,
        '-bottom-full': !supersetColorPickerModalVisibility,
    }"
>
    <button
        type="button"
        (click)="supersetColorPickerModalVisibility = false"
        class="py-1.5 font-semibold rounded-md w-full bg-neutral-900 transition-all active:scale-95 active:opacity-50 hover:shadow-[0_0_20px_2px_#171717]"
    >
        Cancel
    </button>
</div>
}

<!--  -->

@if (workoutDurationModalVisibility) {
<!-- eslint-disable-next-line    -->
<div
    @openClose2
    (click)="workoutDurationModalVisibility = false"
    class="fixed top-0 left-0 z-40 w-screen h-screen bg-black bg-opacity-80"
></div>

<div
    @openClose4
    class="fixed left-0 z-50 flex flex-col items-center w-full h-full gap-3 p-4 text-lg rounded-t-md bg-neutral-950"
    [ngClass]="{
        'top-1/2': workoutDurationModalVisibility,
        'top-full': !workoutDurationModalVisibility
    }"
>
    <div class="font-semibold text-center">Choose workout duration</div>

    <div
        class="flex flex-col w-full h-12 overflow-y-scroll font-semibold rounded-md mt-14 bg-neutral-900 snap-y"
    >
        @for (timeVal of
        [300,600,900,1200,1500,1800,2100,2400,2700,3000,3300,3600,3900,4200,4500,4800,5100,5400,5700,6000,6300,6600,6900,7200]
        ; track $index) {
        <div
            class="p-2 text-center h-14 snap-center"
            [ngClass]="{
                'mt-0.5': $index === 0,
            }"
        >
            {{ timeVal | timeFormatter }}
        </div>
        }
    </div>
</div>
}

<!--  -->

@if (workoutDurationModalVisibility) {
<div
    @openClose3
    class="fixed left-0 z-50 w-full p-4 shadow-md rounded-t-md"
    [ngClass]="{
        'bottom-0': workoutDurationModalVisibility,
        '-bottom-full': !workoutDurationModalVisibility,
    }"
>
    <button
        type="button"
        (click)="workoutDurationModalVisibility = false"
        class="py-1.5 text-lg mt-2 font-semibold rounded-md w-full bg-emerald-500 transition-all active:scale-95 active:opacity-50 hover:shadow-[0_0_20px_2px_#10b981]"
    >
        Ok
    </button>
</div>
}
