<app-exercise-selector
    [modalTitle]="'Choose exercise for your goal:'"
    [exercisesModalVisibility]="exerciseSelectorModalVisibility"
    (exercisesModalCloseEvent)="exerciseSelectorModalVisibility = false"
    (exerciseChangeEvent)="selectExercise($event)"
></app-exercise-selector>

@if (newGoalModalVisibility) {
<div
    @openClose2
    (click)="closeNewGoalModal()"
    class="fixed top-0 left-0 z-40 w-screen h-screen bg-black bg-opacity-80"
></div>

<div
    class="fixed left-0 z-50 flex flex-col items-center w-full h-full gap-1 p-4 transition-all duration-500 pb-96 bg-neutral-950 rounded-t-md"
    @openClose
    [ngClass]="{
        'top-1/2': newGoalModalVisibility,
        'top-full': !newGoalModalVisibility
    }"
>
    <button
        type="button"
        (click)="exerciseSelectorModalVisibility = true"
        class="flex flex-col items-center gap-1 transition-all active:opacity-50 active:scale-95"
    >
        <div
            class="overflow-hidden border-2 border-solid rounded-full border-emerald-500 min-w-max border-emerald-5000"
        >
            <img
                [src]="selectedExercise?.imagePreviewUrl"
                class="w-12 h-12"
                [alt]="selectedExercise?.name + ' graphic'"
            />
        </div>
        <div class="text-2xl font-semibold text-clip text-emerald-500">
            {{ selectedExercise?.name | titlecase }}
        </div>
    </button>
    <div class="mb-10 text-sm font-semibold">
        <span class="opacity-50"> Your currently estimated 1rm is </span>
        <span class="text-emerald-5003">{{ estimated1rm }}kg</span>
    </div>

    <div class="flex flex-col items-center">
        <div class="font-semibold">Enter your goal weight:</div>
        <input
            [(ngModel)]="goal1rm"
            mask="000"
            suffix="kg"
            type="text"
            placeholder="-"
            class="p-2 text-2xl font-semibold text-center bg-transparent rounded-md outline-none placeholder-neutral-700"
        />
    </div>
</div>
}

<!--  -->

@if (newGoalModalVisibility) {
<div
    @openClose3
    class="fixed left-0 z-50 w-full p-4 shadow-md rounded-t-md bg-neutral-950"
    [ngClass]="{
        'bottom-0': newGoalModalVisibility,
        '-bottom-full': !newGoalModalVisibility,
    }"
>
    <button
        type="button"
        [disabled]="
            selectedExercise === null ||
            +goal1rm <= estimated1rm ||
            goal1rm === ''
        "
        (click)="addGoal()"
        class="py-1.5 font-semibold rounded-md w-full bg-emerald-500 transition-all active:scale-95 active:opacity-50 hover:shadow-[0_0_20px_2px_#10b981] disabled:opacity-50 disabled:cursor-not-allowed disabled:active:scale-100 disabled:hover:shadow-none"
    >
        Add Goal
    </button>
    <button
        type="button"
        (click)="closeNewGoalModal()"
        class="py-1.5 mt-2 font-semibold rounded-md w-full bg-neutral-900 transition-all active:scale-95 active:opacity-50 hover:shadow-[0_0_20px_2px_#171717]"
    >
        Cancel & Close
    </button>
</div>
}
