<div class="flex flex-col gap-2">
    @for (step of steps; track $index) {
    <app-step [name]="step.stepName" [subSteps]="step.subSteps"></app-step>
    }

    <!--  -->

    @if (!newStepNameEditorVisibility) {
    <button
        type="button"
        (click)="newStepNameEditorVisibility = true"
        class="flex items-center mt-2 group"
    >
        <svg
            class="transition-colors w-7 h-7 stroke-white group-hover:stroke-emerald-500"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M6 12H12M18 12H12M12 12V6M12 12V18"
                stroke-width="2.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
        </svg>
        <div
            class="self-start text-xl font-semibold transition-colors group-hover:text-emerald-500"
        >
            Add Step
        </div>
    </button>
    } @else {
    <div class="relative w-full mt-2">
        <input
            type="text"
            class="text-xl font-semibold bg-transparent outline-none placeholder-neutral-700"
            placeholder="Step name..."
        />

        <button type="button" (click)="addStep()">
            <svg
                class="absolute w-8 h-8 transition-all -translate-y-1/2 right-8 top-1/2 stroke-neutral-700 hover:stroke-emerald-500 active:opacity-50 active:scale-95"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M5 13L9 17L19 7"
                    stroke-width="2.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
        </button>

        <button type="button" (click)="newStepNameEditorVisibility = false">
            <svg
                class="absolute right-0 w-8 h-8 transition-all -translate-y-1/2 top-1/2 stroke-neutral-700 hover:stroke-red-500 active:opacity-50 active:scale-95"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M6.75827 17.2426L12.0009 12M17.2435 6.75736L12.0009 12M12.0009 12L6.75827 6.75736M12.0009 12L17.2435 17.2426"
                    stroke-width="2.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
        </button>
    </div>
    }
</div>
