<div class="flex flex-col items-center gap-4 p-8">
    @if (!nameEditMode) {
    <div class="flex items-center self-start justify-between w-full">
        <div class="text-2xl font-semibold text-center">{{ title }}</div>
        <button type="button" (click)="openTitleEditMode()" class="group">
            <svg
                class="w-5 h-5 mt-0.5 transition-all stroke-neutral-700 group-hover:stroke-emerald-500 group-active:opacity-50 group-active:scale-95"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M13.0207 5.82839L15.8491 2.99996L20.7988 7.94971L17.9704 10.7781M13.0207 5.82839L3.41405 15.435C3.22652 15.6225 3.12116 15.8769 3.12116 16.1421V20.6776H7.65669C7.92191 20.6776 8.17626 20.5723 8.3638 20.3847L17.9704 10.7781M13.0207 5.82839L17.9704 10.7781"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
        </button>
    </div>
    } @else {
    <div class="flex items-center self-start justify-between w-full gap-2">
        <input
            type="text"
            #inputRef
            [(ngModel)]="title"
            class="w-full text-2xl font-semibold outline-none bg-neutral-950 placeholder-neutral-800"
            placeholder="Workout Name..."
        />
        <div class="flex items-center gap-1">
            <button type="button" (click)="cancelNewTitle()" class="group">
                <svg
                    class="w-6 h-6 mt-0.5 transition-all stroke-neutral-700 group-hover:stroke-red-500 group-active:opacity-50 group-active:scale-95"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M6.75827 17.2426L12.0009 12M17.2435 6.75736L12.0009 12M12.0009 12L6.75827 6.75736M12.0009 12L17.2435 17.2426"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
            </button>
            <button type="button" (click)="updateTitle()" class="group">
                <svg
                    class="w-6 h-6 mt-0.5 transition-all stroke-neutral-700 group-hover:stroke-emerald-500 group-active:opacity-50 group-active:scale-95"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M5 13L9 17L19 7"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
            </button>
        </div>
    </div>

    }

    <div class="flex flex-col w-full">
        @for (exercise of [1]; track $index) {
        <app-exercise-edit-mode></app-exercise-edit-mode>
        }

        <button
            type="button"
            class="relative w-full py-2 overflow-hidden font-semibold rounded-md bg-emerald-500 hover:shadow-[0_0_20px_2px_#10b981] transition-all hover:border-transparent active:scale-95 active:opacity-50 text-lg"
        >
            Add Exercise
        </button>
    </div>

    <!-- <button
        type="button"
        class="relative w-full py-2 overflow-hidden font-semibold border-2 border-solid rounded-md border-neutral-900 group focus:border-emerald-500 hover:shadow-[0_0_20px_2px_#10b981] outline-none transition-all hover:border-transparent active:scale-95 active:opacity-50"
    >
        Add Exercise
    </button> -->
    <!-- <div
        class="absolute z-20 w-full px-8 py-20 text-sm font-semibold text-center -translate-y-1/2 opacity-50 top-1/2 backdrop-blur-lg"
    >
        Nothing here yet! <br />
        Click the button above to add some exercises.
    </div>
    <div>
        <svg
            class="absolute z-10 rotate-45 -translate-x-1/2 -translate-y-1/2 opacity-50 w-44 h-44 stroke-black top-1/2 dark:stroke-neutral-700 left-1/2"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M7.4 7H4.6C4.26863 7 4 7.26863 4 7.6V16.4C4 16.7314 4.26863 17 4.6 17H7.4C7.73137 17 8 16.7314 8 16.4V7.6C8 7.26863 7.73137 7 7.4 7Z"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
            <path
                d="M19.4 7H16.6C16.2686 7 16 7.26863 16 7.6V16.4C16 16.7314 16.2686 17 16.6 17H19.4C19.7314 17 20 16.7314 20 16.4V7.6C20 7.26863 19.7314 7 19.4 7Z"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
            <path
                d="M1 14.4V9.6C1 9.26863 1.26863 9 1.6 9H3.4C3.73137 9 4 9.26863 4 9.6V14.4C4 14.7314 3.73137 15 3.4 15H1.6C1.26863 15 1 14.7314 1 14.4Z"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
            <path
                d="M23 14.4V9.6C23 9.26863 22.7314 9 22.4 9H20.6C20.2686 9 20 9.26863 20 9.6V14.4C20 14.7314 20.2686 15 20.6 15H22.4C22.7314 15 23 14.7314 23 14.4Z"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
            <path
                d="M8 12H16"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
        </svg>
    </div> -->
</div>
