<div class="flex flex-col items-center gap-4 p-4">
    <app-name-editor class="w-full px-1"></app-name-editor>

    <div class="flex flex-col w-full gap-2">
        @for (exercise of workoutExercises.controls; track $index) {
        <app-exercise-edit-mode
            [exerciseFormGroup]="exercise"
            (exercisesRemoveEvent)="removeExercise($event)"
            [exerciseName]="exercise.value.exerciseObj.name"
            [exerciseImgUrl]="exercise.value.exerciseObj.imageUrl"
            [index]="$index"
        ></app-exercise-edit-mode>
        }

        <app-exercises-selector
            (exercisesSelectEvent)="addExercises($event)"
        ></app-exercises-selector>
    </div>

    @if (workoutExercises.controls.length === 0 && !loading) {
    <div
        class="absolute z-20 w-full px-8 py-20 text-sm font-semibold text-center -translate-y-1/2 opacity-50 top-1/2 backdrop-blur-lg"
    >
        Nothing here yet! <br />
        Click the button above to add some exercises.
    </div>
    <div>
        <svg
            class="absolute z-10 rotate-45 -translate-x-1/2 -translate-y-1/2 opacity-50 w-44 h-44 stroke-black top-1/2 dark:stroke-neutral-700 left-1/2"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M7.4 7H4.6C4.26863 7 4 7.26863 4 7.6V16.4C4 16.7314 4.26863 17 4.6 17H7.4C7.73137 17 8 16.7314 8 16.4V7.6C8 7.26863 7.73137 7 7.4 7Z"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
            <path
                d="M19.4 7H16.6C16.2686 7 16 7.26863 16 7.6V16.4C16 16.7314 16.2686 17 16.6 17H19.4C19.7314 17 20 16.7314 20 16.4V7.6C20 7.26863 19.7314 7 19.4 7Z"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
            <path
                d="M1 14.4V9.6C1 9.26863 1.26863 9 1.6 9H3.4C3.73137 9 4 9.26863 4 9.6V14.4C4 14.7314 3.73137 15 3.4 15H1.6C1.26863 15 1 14.7314 1 14.4Z"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
            <path
                d="M23 14.4V9.6C23 9.26863 22.7314 9 22.4 9H20.6C20.2686 9 20 9.26863 20 9.6V14.4C20 14.7314 20.2686 15 20.6 15H22.4C22.7314 15 23 14.7314 23 14.4Z"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
            <path
                d="M8 12H16"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
        </svg>
    </div>
    }
</div>

@if (loading) {
<app-loading-spinner></app-loading-spinner>
}
